[2022-07-28 02:57] renovate[bot] opened #4 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency androidx.benchmark:benchmark-macro-junit4 to v1.2.0-alpha04](../pull/669)
 - [ ] [Update dagger

[2022-08-12 08:59] takahirom opened #39 "Deploy zipline files by `GitHub Pages: Custom GitHub Actions Workflows (beta)`"
At the moment, we can run zipline in the local environment. But ideally, I would like to use a server.
Recently, I saw a tweet about this. can we use it?
https://github.blog/changelog/2022-07-27-github-pages-custom-github-actions-workflows-beta/

I think the action will be like this.

1. generate zipline files
./gradlew compileZipline
2. deploy core-zipline/build/zipline files

[2022-08-27 23:55] takahirom opened #77 "Problem with import order differs between Android Studio and KtLint"
Formatting imports in Android Studio with SessionsViewModel causes this problem.
I believe it is probably a KtLint or Spotless configuration issue.

[2022-08-28 16:48] ry-itto opened #82 "`TimetableItem` class's property `id` is exported as `Any`"
From this year, I will use KMM model directly in iOS UI. So I want to use this property as String or any hashable types 🙏🏼

<img width="558" alt="スクリーンショット 2022-08-29 1 47 10" src="https://user-images.githubusercontent.com/30540303/187085298-3137c89b-52bb-42e3-b1be-65696bac493b.png">

[2022-08-28 23:28] #82 closed, assigned to nobody

[2022-08-30 14:37] kokoakuma opened #91 "Adjusts the maximum number of rows by the height of the timetable item"
The size of TimeTable Item can change depending on the duration of the talks.
Therefore, we would like to adjust the maximum number of rows by their height.

[2022-09-03 00:59] takahirom opened #103 "Make day tab small by scroll"
I would like to see cool animation for the scroll 🆒
![image](https://user-images.githubusercontent.com/1386930/188249548-d8cf3d23-65de-4fc6-bb66-8867cc39206a.png)

[2022-09-03 01:14] obaya884 opened #106 "Jump to speaker's twitter profile"
**Describe the idea**
Jump to speaker's twitter profile page with tapped speaker name in session detail screen

**Reference images and links**
![image](https://user-images.githubusercontent.com/38175830/188250078-a431252e-ae35-40da-8b7d-5e7a5c352bf7.png)

[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App)

[2022-09-03 01:22] obaya884 opened #107 "Switch List view and Timetable view"
**Describe the idea**
This application has two different timeline screens: list view and timetable view.
Switch between these by tapping the toolbar button.

in short, implement [this comment](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK?node-id=19:580#253454038)

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App)

[2022-09-03 06:31] takahirom opened #111 "Match the color of the app to the color of the Status bar"
**Describe the idea**

You can check the image.
The current app is above. And the design is under.

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=0%3A1
![image](https://user-images.githubusercontent.com/1386930/188258835-2dd46e38-e77f-4afe-b927-ad394c99f65e.png)

[2022-09-03 06:42] takahirom opened #112 "Add benchmark module for measuring launch performance"
**Describe the idea**
If we add the benchmark module, we can check the launch performance. And we can introduce the baseline profile.
The goal is to add a module that can measure launch performance.

**Reference images and links**
https://github.com/android/nowinandroid/tree/main/benchmark

[2022-09-03 06:53] takahirom opened #114 "Make KaigiTag slot API pattern 🎰"
**Describe the idea**
Currently, we are passing parameters expressly like `text: String` . But if we can use label: @[Composable](https://developer.android.com/reference/kotlin/androidx/compose/runtime/Composable) () -> [Unit](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-unit/index.html), we can also add image in it. I think it will be more flexible.

And in the KaigiTag composable, I thin

[2022-09-04 01:10] obaya884 opened #124 "Make a navigation drawer divider by group"
**Idea Description**
Make DrawerGroup and add it in DrawerItem for inserting divider.
like this,
[code]

Currently, this feature is implemented by a if statement in NavigationDrawerItem
[code]

**Reference images and links**
- [Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App)

screenshot
<img src="https://user-images.githubusercontent.com/38175830/188292772-19547fc7-3ca0-40

[2022-09-04 01:50] kokoakuma opened #126 "Round the corner of the ripple effect when timeTable day tabs are clicked"
**Idea Description**
Currently, rippling the background of timetable day tabs fills it in as a rectangle,
but we would like to make it rounded.

**Reference images and links**

- [figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=20%3A570)

the screenshot of the ripple effect on the day tabs in its current state
![InkedScreenshot_20220904_100433_2](https://user-images

[2022-09-04 08:29] takahirom opened #133 "Add "Kaigi" to IDE dictionary"
**Idea Description**

**Reference images and links**
<img width="202" alt="image" src="https://user-images.githubusercontent.com/1386930/188304683-e53b03dd-63f0-4c0d-9e71-8a333b32a09d.png">

[2022-09-04 08:40] takahirom opened #135 "Make the DroidKaigi app splash screen cool 🆒"
**Idea Description**
I still think it is cool. However, can it be made even cooler?

**Reference images and links**

[2022-09-04 08:49] takahirom opened #137 "Baseline Profile"
**Idea Description**
If we introduce the benchmark module, we can make a baseline profile.
Please make it 🙏

Blocked by
https://github.com/DroidKaigi/conference-app-2022/issues/112

**Reference images and links**
https://developer.android.com/topic/performance/baselineprofiles

[2022-09-04 08:53] takahirom opened #138 "Enable Proguard and see if it can run."
**Idea Description**
The title says everything.

Please add minifyEnabled = true for release and see if developRelease can run. The goal is that you launch the app. 🚀
https://github.com/DroidKaigi/conference-app-2022/blob/main/app-android/build.gradle.kts

**Reference images and links**

[2022-09-04 09:30] takahirom opened #142 "Add compose compiler metrics option"
**Idea Description**
Please add option to add compose compiler metrics.

**Reference images and links**
https://github.com/androidx/androidx/blob/androidx-main/compose/compiler/design/compiler-metrics.md
https://github.com/android/nowinandroid/pull/125

[2022-09-04 21:35] t-yusaku opened #153 "Scroll up when taps current tab"
**Idea Description**
We can scroll on the timetable and sessions list.
So, we want to scroll up to top when we tap current tab.

**Reference images and links**
![image](https://user-images.githubusercontent.com/58973616/188334450-5f0047b3-c2de-44e0-a589-92c8ee3c622a.png)

[2022-09-04 23:59] #107 closed, assigned to nobody

[2022-09-05 00:26] #39 closed, assigned to nobody

[2022-09-05 01:48] imsakuu opened #155 "Separate the hours from Pager"
**Idea Description**
see #151

If possible, it is preferable that the Hours be separated from the Pager.

`Hours` is in the Pager, so when we switch pages (tabs), the hours moves with it.
We want to detach the Hours from the Pager.

To do this, I think we need to consider how to handle `ScreenScrollState`.

**Reference images and links**
#109
#151

[2022-09-05 02:05] takahirom opened #156 "DB cache for sessions"
**Idea Description**
The timetable loading is sometimes long 😭
We should cache it. Can we use sqldelight?

**Reference images and links**
https://github.com/cashapp/sqldelight

[2022-09-05 02:14] takahirom opened #157 "Add padding bottom of day tab"
**Idea Description**

![image](https://user-images.githubusercontent.com/1386930/188347363-b0e56975-a90c-4cc9-bebd-e3dd5dfaab88.png)

**Reference images and links**
Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=11%3A1833
App Design
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-05 02:19] takahirom opened #158 "Fix day title size"
**Idea Description**

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/188348318-1a3add59-0e55-49d0-ace2-f5b6b4078a4e.png)
Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=11%3A1833
App Design
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-05 02:27] cOnigashima opened #159 "add read more to description in Session Detail Screen"
**Idea Description**
add read more to description in Session Detail Screen

**Reference images and links**
<img src="https://user-images.githubusercontent.com/60292683/188349294-76027ffe-3067-4b22-afe3-344f4641e5cb.png" width="300">

Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=11%3A1833
App Design
https://www.figma.com/file/NcSMs6dMsD8

[2022-09-05 02:30] cOnigashima opened #160 "add TagsLine in session detail Screen"
**Idea Description**
use KaigiTag  slot api

**Reference images and links**
Design
<img src="https://user-images.githubusercontent.com/60292683/188349438-4aacd5c9-aded-4be8-a9e4-48d00ff64dd8.png" width="300" >
Current app
<img width="382" alt="image" src="https://user-images.githubusercontent.com/1386930/188361924-415feb15-db3e-4fca-9210-fecb4697ff72.png">

Design Kit
https://www.figma.com/file/Xs

[2022-09-05 02:32] cOnigashima opened #161 "add Icon and fix design assets section in session detail screen"
**Idea Description**

-  when items tapped , open url

**Reference images and links**
<img src="https://user-images.githubusercontent.com/60292683/188349606-c69093dc-fb5d-43c6-b8d0-30ee6db7c1e0.png" width="300">

Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=11%3A1833
App Design
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaig

[2022-09-05 02:38] cOnigashima opened #163 "add favorite button in session detail screen"
**Idea Description**
- add favorite button
- when tapped set favorite button toggled

**Reference images and links**

<img src="https://user-images.githubusercontent.com/60292683/188350390-25bb1ecf-296b-4203-b081-6a6f89114bfa.png” width=“300">

https://user-images.githubusercontent.com/60292683/188350390-25bb1ecf-296b-4203-b081-6a6f89114bfa.png

[2022-09-05 02:46] cOnigashima opened #164 "add bottom navigation view in session detail screen"
**Idea Description**

- share
- scroll to top
- favorite
  - when tapped set favorite button toggled

**Reference images and links**

<img src="https://user-images.githubusercontent.com/60292683/188351026-128eab39-e8a4-46f0-a8de-661472ce468f.png" width="300">

Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=11%3A1833
App Design
https://www

[2022-09-05 02:47] #163 closed, assigned to nobody

[2022-09-05 02:50] cOnigashima opened #165 "fix back to sessions list or timelines from session detail screen"
**Idea Description**
when navigation button tapped , back to timelines

**Reference images and links**
<img src="https://user-images.githubusercontent.com/60292683/188351355-34529b00-d1e4-4c51-9a57-1de06dc49f3b.png" width="300">

Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=11%3A1833
App Design
https://www.figma.com/file/NcSMs6dMsD88d4w

[2022-09-05 02:52] takahirom opened #166 "Show notification when the favorited session starts"
**Idea Description**
The title says everything

**Reference images and links**
You can refer SessionAlarm class.
https://github.com/DroidKaigi/conference-app-2020/blob/master/feature/session/src/main/java/io/github/droidkaigi/confsched2020/session/util/SessionAlarm.kt

[2022-09-05 03:01] cOnigashima opened #167 "fix text size and margin for session detail screen"
**Idea Description**
fix text size

**Reference images and links**

current app | design
------ | ------
<img src="https://user-images.githubusercontent.com/60292683/188243396-67bc0c95-5a62-47dc-97ce-b253276643ea.png" width="300"> | <img src="https://user-images.githubusercontent.com/60292683/188352749-1d24835e-3fac-423c-9de6-9392ec0db714.png"  width="300">

[2022-09-05 03:09] cOnigashima opened #169 "fix term design in session detail screen"
**Idea Description**
- set Icon
- fix term design like "10月7日11:00 - 11:20 "

**Reference images and links**

current app | design
------ | ------
<img src="https://user-images.githubusercontent.com/60292683/188353873-cebfda8d-0947-4da3-887a-9861fc7a3b5b.png" width="300" > | <img src="https://user-images.githubusercontent.com/60292683/188352855-d14cbfdc-d533-4062-9d19-7b07dc082ee8.png" width="300"

[2022-09-05 03:12] t-yusaku opened #170 "Navigate from sessions list to session's detail"
**Idea Description**

**Reference images and links**
Sessions List | Session Detail
:--: | :--:
<img src="https://user-images.githubusercontent.com/58973616/188353552-c390a403-a75a-4411-8fd7-66a390f73b63.png" width="300" /> | <img src="https://user-images.githubusercontent.com/58973616/188353578-c34636e6-a43d-48ef-9e2f-6155ebc75ffb.png" width="300" />

[2022-09-05 03:17] cOnigashima opened #171 "fix layout in session detail screen"
**Idea Description**
set padding and marigins( fixing icons or features is other issue)

**Reference images and links**

current app | design
------ | ------
<img src="https://user-images.githubusercontent.com/60292683/188243396-67bc0c95-5a62-47dc-97ce-b253276643ea.png" width="300"> | <img src="https://user-images.githubusercontent.com/1386930/188352238-113d8f15-7b06-4255-9dea-ccfff53d19c0.png"  w

[2022-09-05 03:48] cOnigashima opened #172 "create Search Screen without design"
**Idea Description**
- create  only search screen without design
-  fill in name , filtered list shows
-  issue devided apply design

**Reference images and links**
design coming soon

[2022-09-05 03:49] cOnigashima opened #173 "apply design search screen"
**Idea Description**
apply design

**Reference images and links**
coming soon

[2022-09-05 03:50] cOnigashima opened #174 "create notification screen without design"
**Idea Description**
create  notification screen without design

issue devided apply design

**Reference images and links**
coming soon

[2022-09-05 03:52] cOnigashima opened #175 "Implement announcement screen"
**Idea Description**
apply notification screen design

**Reference images and links**
coming soon

[2022-09-05 03:54] cOnigashima opened #176 "create floor map screen"
**Idea Description**
create floor map  screen without design

issue devided apply design

**Reference images and links**
coming soon

[2022-09-05 03:54] cOnigashima opened #177 "apply floor map screen design"
**Idea Description**
apply floor map  screen design

**Reference images and links**
coming soon

[2022-09-05 03:55] cOnigashima opened #178 "create sponsors list screen without design"
**Idea Description**
create  sponsors list screen without design

issue devided apply design

**Reference images and links**
coming soon

[2022-09-05 03:55] cOnigashima opened #179 "apply sponsors list screen design"
**Idea Description**
apply  sponsors list screen design

**Reference images and links**
coming soon

[2022-09-05 03:56] cOnigashima opened #180 "create setting screen"
**Idea Description**
create setting screen

**Reference images and links**
coming soon

[2022-09-05 04:35] obaya884 opened #181 "Apply about screen design"
**Idea Description**
please apply cool design for about screen following figma instruction.

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=0%3A1)

[2022-09-05 04:40] NUmeroAndDev opened #182 "Always display NavigationDrawer when expanded width"
**Idea Description**
- Always display NavigationDrawer when Window size class is expanded width.

**Reference images and links**
- https://developer.android.com/guide/topics/large-screens/navigation-for-responsive-uis

[2022-09-05 04:42] obaya884 opened #183 "Jump to DroidKaigi's twitter profile from the about screen"
**Idea Description**
Jump to [DroidKaigi's twitter profile page](https://twitter.com/DroidKaigi) with tapped twitter icon in the about screen

blocked by #181

**Reference images and links**
<img src="https://user-images.githubusercontent.com/38175830/188361874-334054f7-0c27-4215-b40d-c546f61ee2ef.png" width=40% />

[2022-09-05 04:43] obaya884 opened #184 "Jump to DroidKaigi's medium from the about screen"
**Idea Description**
Jump to [DroidKaigi's medium page](https://medium.com/droidkaigi) with tapped medium icon in the about screen

blocked by #181

**Reference images and links**
<img src="https://user-images.githubusercontent.com/38175830/188361874-334054f7-0c27-4215-b40d-c546f61ee2ef.png" width=40% />

[2022-09-05 04:45] obaya884 opened #185 "Jump to DroidKaigi's Youtube from the about screen"
**Idea Description**
Jump to [DroidKaigi's Youtube page](https://www.youtube.com/c/DroidKaigi) with tapped youtube icon in the about screen

blocked by #181

**Reference images and links**
<img src="https://user-images.githubusercontent.com/38175830/188361874-334054f7-0c27-4215-b40d-c546f61ee2ef.png" width=40% />

[2022-09-05 04:52] obaya884 opened #186 "show app version in the about screen"
**Idea Description**
please show app version at the bottom of the about screen

blocked by #181

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=0%3A1)
![about-screenのコピー3](https://user-images.githubusercontent.com/38175830/188365055-472f73ca-e54a-4654-a601-91148e084cff.png)

[2022-09-05 04:54] #167 closed, assigned to nobody

[2022-09-05 04:59] obaya884 opened #187 "Open the venue information by Google map from the about screen"
**Idea Description**
Open the off-line venue information by Google map from the about screen.

DroidKaigi 2022 is scheduled to be held here!
https://goo.gl/maps/NnqJr2zUVdrAJseH7

blocked by #181

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=448%3A2009)
![about-screenのコピー](https://user-images.githubusercontent.com/38175830/1883650

[2022-09-05 05:03] obaya884 opened #188 "Show privacy policy from the about screen with web link"
**Idea Description**
Show privacy policy from the about screen with web link.
https://portal.droidkaigi.jp/about/privacy

blocked by #181

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=448%3A2009)
![about-screenのコピー2](https://user-images.githubusercontent.com/38175830/188364964-25bba3ed-d1d7-4847-a990-d3ddad923b92.png)

[2022-09-05 05:04] obaya884 opened #189 "Show code of conduct from the about screen with web link"
**Idea Description**
Show privacy policy from the about screen with web link.
https://portal.droidkaigi.jp/about/code-of-conduct

blocked by #181

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=448%3A2009)

[2022-09-05 05:10] obaya884 opened #190 "Add staffs screen with design"
**Idea Description**
Please add staffs screen and make it possible to transition from the about screen.

There is no figma design for this screen, but it is assumed to be similar to the contributors screen.

**Reference images and links**
[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Conference-App?node-id=448%3A2009)
![about-screen](https://user-images.githubusercontent.com/38175830/1

[2022-09-05 12:30] t-yusaku opened #192 "Per-app launguage preferences"
**Idea Description**
Supports the new Android 13 feature of per-app language preferences
This Issue is related to #180
**Reference images and links**
https://developer.android.com/guide/topics/resources/app-languages

[2022-09-05 13:00] takahirom commented on #164
I think it is important to be able to favorite the session.
So I think we just need to implement the favorite button at first.

[2022-09-05 13:19] l2hyunwoo commented on #126
Can I take this issue?

[2022-09-05 13:20] takahirom commented on #126
You are the first one who takes the issue! Off course! Assigned 🏎️

[2022-09-05 13:36] okuzawats commented on #158
I'd fix this🙋

[2022-09-05 13:38] takahirom commented on #158
Thanks! Assigned 👍

[2022-09-05 13:54] toastmeister1 commented on #133
I'd add this!

[2022-09-05 13:58] takahirom commented on #133
Thanks! I'm looking forward to seeing your PR!

[2022-09-05 14:09] tomoya0x00 opened #195 "Broken links in README"
**Describe the bug**

molecule link and zipline link are not working correctly.

It seems the text and the URL are incorrectly swapped.

![image](https://user-images.githubusercontent.com/5106629/188467934-e3b9a450-f680-477a-b068-56328f15ff63.png)

![image](https://user-images.githubusercontent.com/5106629/188467967-dacbd632-36ed-467b-8ff0-99696453bd2b.png)

**To Reproduce**
Steps to reproduce the

[2022-09-05 14:21] ho2ri2s commented on #178
🙋‍♂️

[2022-09-05 14:21] ho2ri2s commented on #179
🙋‍♂️

[2022-09-05 14:22] takahirom commented on #195
👀

[2022-09-05 14:22] tomoya0x00 commented on #178
Thanks! Assigned 👍

[2022-09-05 14:23] ho2ri2s commented on #178
May I ask a question?
Do you mean implementing UI logic such as ViewModel other than UI in Compose?

[2022-09-05 14:23] tomoya0x00 commented on #179
Thanks! Assigned :+1:

[2022-09-05 14:24] takahirom commented on #178
👀

[2022-09-05 14:31] okuzawats commented on #158
@takahirom I created a PR. Please check it out. #196

[2022-09-05 14:34] #158 closed, assigned to okuzawats

[2022-09-05 14:39] ho2ri2s commented on #178
I mistakenly thought it had a welcome-contribute tag 🙇
I don't know what the problem is, but I would like to try!

[2022-09-05 14:53] tomoya0x00 commented on #195
Fixed by https://github.com/DroidKaigi/conference-app-2022/pull/197
Thanks @tshion 👍

[2022-09-05 14:53] #195 closed

[2022-09-05 14:56] r4wxii commented on #114
i'll try this 🙋

[2022-09-05 14:57] tomoya0x00 commented on #114
Could you handle it? Assigned 👍

[2022-09-05 15:24] mona-apk commented on #157
🙋‍♂️

[2022-09-05 15:25] ttanaka330 commented on #171
🙋‍♂️

[2022-09-05 15:25] Pluu commented on #170
🙋

Since the navigation icon is not exposed as X even in the timetable format, we will omit it in this work.

[2022-09-05 15:29] takahirom commented on #157
Thanks! Assigned! I tried once, but I can't do it😂

[2022-09-05 15:30] takahirom commented on #171
Thanks! Assigned📝

[2022-09-05 15:31] YagiRyu commented on #188
🖐

[2022-09-05 15:32] kafumi commented on #77
Could I take this issue? I think we can fix the issue by setting a EditorConfig property.
https://pinterest.github.io/ktlint/rules/configuration-ktlint/#import-layouts

[2022-09-05 15:33] ttanaka330 commented on #171
In Figma, the horizontal end is 17dp, but is 16dp okay?

<img width="400" src="https://user-images.githubusercontent.com/31527039/188482314-64ebf1f1-1417-4739-a31c-330566d94355.png">

[2022-09-05 15:45] Corvus400 commented on #185
I would like to do this task.

[2022-09-05 15:46] Corvus400 commented on #184
I would like to do this task.

[2022-09-05 15:46] Corvus400 commented on #183
I would like to do this task.

[2022-09-05 15:48] Kaito-Dogi commented on #111
🙋‍♂️

[2022-09-05 15:50] takahirom commented on #77
This is a very annoying issue. If you fix this we are happy 🙏

[2022-09-05 15:51] takahirom commented on #171
I think it is 16dp too. I'll ask the designer.

[2022-09-05 15:52] takahirom commented on #185
Thanks!

[2022-09-05 15:53] takahirom commented on #184
Thanks!

[2022-09-05 15:56] #111 closed, assigned to nobody

[2022-09-05 16:00] Corvus400 commented on #183
@takahirom
Let me ask you one question.
Do you have an Issue about the area circled in red?
![スクリーンショット 2022-09-06 0 37](https://user-images.githubusercontent.com/13657682/188485973-42cc23e6-f814-434f-94d3-fa90ba50fc04.png)

[2022-09-05 16:02] takahirom commented on #183
👀

[2022-09-05 16:07] takahirom commented on #183
I think this issue will implement all the design of this screen.
https://github.com/DroidKaigi/conference-app-2022/issues/181
So this issue will be just a click listener implementation.
But I think you can implement the three-links design. As long as you can implement fast. 😄 Because It can be implemented by the issue.
<img width="170" alt="image" src="https://user-images.githubusercontent.com/138

[2022-09-05 16:09] #170 closed

[2022-09-05 16:18] l2hyunwoo commented on #165
I'd like to take this issue after [this issue](https://github.com/DroidKaigi/conference-app-2022/issues/171) merge!

[2022-09-05 16:21] l2hyunwoo commented on #169
Can I take this issue?

[2022-09-05 16:23] l2hyunwoo commented on #186
I want to take this issue!

[2022-09-05 16:24] takahirom commented on #169
Thanks! Assigned! If I review this PR, I will check if it is you 🙏

[2022-09-05 16:25] takahirom commented on #186
Thanks Assigned 👍

[2022-09-05 16:29] #171 closed

[2022-09-05 16:34] takahirom opened #205 "Timetable room header"
**Idea Description**
The timetable code is here
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/Timetable.kt
**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/188489926-967785de-0c00-4272-927e-4ad2a4a7a3dd.png)

[2022-09-05 16:37] Kaito-Dogi commented on #124
🙋‍♂️

[2022-09-05 16:38] #77 closed

[2022-09-05 16:40] takahirom commented on #124
Thanks! Assigned ➗

[2022-09-05 16:43] takahirom commented on #164
I added the favorite button.

[2022-09-05 16:50] kota-shiokara commented on #159
I want to try this issue

[2022-09-05 17:03] yoshida0261 commented on #187
I want to take this issue!

[2022-09-05 17:08] takahirom commented on #181
I think there is a lot of misunderstanding about this issue.
This issue is for the whole screen design. And the other issues are just for click listeners.

[2022-09-05 17:09] takahirom commented on #187
Thanks! Assigned 👍
Please read this comment first 🙏  https://github.com/DroidKaigi/conference-app-2022/issues/181#issuecomment-1237317183

[2022-09-05 17:30] atsushieno opened #208 "show start time on the session list"
**Idea Description**

The default timetable view has the obvious timeline on the left side and we can easily confirm the start time for each session. That however does not apply to the session list, so we cannot easily check what time the sessions will be. But I'm sure we would like to easily check them on site.

**Reference images and links**

Current list

![image](https://user-images.githubuser

[2022-09-05 17:30] l2hyunwoo commented on #165
I'll take it :)

[2022-09-05 18:07] ao0000 commented on #160
🙋

[2022-09-05 19:59] Corvus400 commented on #181
I would like to do this task.

[2022-09-05 22:21] usuiat commented on #106
🙋 I want to take this issue.

[2022-09-05 22:35] hiraok commented on #112
🙌

[2022-09-05 23:01] takahirom commented on #112
Thanks! Assigned 📊

[2022-09-05 23:02] takahirom commented on #106
Thanks! Assigned 🐦

[2022-09-05 23:03] sobaya-0141 commented on #159
Thanks! Assigned

[2022-09-05 23:08] sobaya-0141 commented on #160
Thanks! Assigned 👍

[2022-09-05 23:09] sobaya-0141 commented on #181
Thanks! Assigned 👍

[2022-09-05 23:15] misuzz commented on #188
May I challenge this task?

[2022-09-05 23:23] #133 closed

[2022-09-05 23:31] takahirom commented on #171
I confirmed that it is 16dp 🙏

[2022-09-05 23:35] misuzz commented on #188
Thank you!

[2022-09-05 23:43] #165 closed

[2022-09-06 00:59] surajsau commented on #205
🙋‍♂️

[2022-09-06 01:01] takahirom commented on #205
Thanks! Assigned!

[2022-09-06 01:06] l2hyunwoo commented on #166
Can I take this issue?

If there's no pull request within 2 days, please assign someone else.

[2022-09-06 01:16] takahirom commented on #166
OK, I'll set the reminder.

[2022-09-06 01:23] KoutaMatsushita commented on #164
🙋

[2022-09-06 01:28] takahirom commented on #164
@KoutaMatsushita
Thanks!
Let me correct the discription 🙏

- share
- ~scroll to top~ Go to the floor map screen
- Register the schedule to Google calendar.

[2022-09-06 01:34] #183 closed

[2022-09-06 01:34] #184 closed

[2022-09-06 01:34] #185 closed

[2022-09-06 01:35] takahirom opened #217 "Make ExternalServices camel case"
**Idea Description**
TWITTER -> Twitter
https://github.com/Corvus400/conference-app-2022/blob/ad56603e25c62199866e3a7405484989fbdb61c2/feature-about/src/main/java/io/github/droidkaigi/confsched2022/feature/about/ExternalServices.kt#L9

**Reference images and links**
https://github.com/androidx/androidx/blob/androidx-main/compose/docs/compose-api-guidelines.md#singletons-constants-sealed-class-and-

[2022-09-06 01:53] obaya884 commented on #217
🙋‍♂️ I want to take this issue.

[2022-09-06 01:55] takahirom commented on #217
Thanks! Assigned 👍

[2022-09-06 01:59] NUmeroAndDev opened #218 "Enable to the predictive back gesture"
**Idea Description**
- Title says it all.

**Reference images and links**
- https://developer.android.com/guide/navigation/predictive-back-gesture

[2022-09-06 03:17] r4wxii commented on #114
What about making the label a RowScope instead of just a Composable?
I think most icons are lined up in Row.
Calling Row inside a KaigiTag allows for more flexibility while maintaining a consistent look 🤔
[code]

[2022-09-06 03:18] #169 closed

[2022-09-06 03:18] takahirom commented on #114
@r4wxii It would be better!

[2022-09-06 03:31] Corvus400 commented on #181
Sorry, as stated in the [PR summary section](https://github.com/DroidKaigi/conference-app-2022/pull/215), some of the implementation is still incomplete. 🙇‍♂️

[2022-09-06 03:50] maxfie1d commented on #218
🙋‍♂️

[2022-09-06 03:56] sobaya-0141 commented on #218
Thanks! Assigned :+1:

[2022-09-06 04:18] hkusu opened #222 "Run CI with pull requests from forked repositories"
**Idea Description**

Probably works using `pull_request_target` event in `Build.yml`

**Reference images and links**

[2022-09-06 05:00] obaya884 commented on #180
Can I try this issue? :eyes:

We don't have design instructions in figma yet, but [referring to the DroidKaigi 2021 app](https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=905%3A3066),
we could be able to implement dark mode and language setting(#192) features on this screen.

In this issue,  I am going to create the screen and just place switch composable like

[2022-09-06 05:25] takahirom commented on #222
👀

[2022-09-06 05:28] takahirom commented on #222
Thank you for telling me this. Let me think it over 🙏

[2022-09-06 05:32] t-nonomura commented on #190
🙋‍♂️

[2022-09-06 05:41] sobaya-0141 commented on #190
Thanks! Assigned :+1:

[2022-09-06 06:11] mtkw0127 commented on #172
I’d like to try this issue 💪

[2022-09-06 06:14] sobaya-0141 commented on #172
Thanks! Assigned :+1:

[2022-09-06 06:28] blackbracken commented on #161
🙋

[2022-09-06 06:28] takahirom commented on #161
Thanks! Assigned

[2022-09-06 06:29] att55 commented on #189
I would like to do this task 🙋

[2022-09-06 06:51] #159 closed

[2022-09-06 06:52] Nthily commented on #126
@l2hyunwoo I'm sorry I didn't see this issue, I saw the ripple problem when I first built the app, so I just modified it and submitted the PR, sorry about that. 🙏🙏🙏

[2022-09-06 06:53] #217 closed

[2022-09-06 06:55] l2hyunwoo commented on #126
@Nthily It's ok :) Never mind!

[2022-09-06 07:00] fornewid commented on #156
🙋‍♂️

[2022-09-06 07:01] sobaya-0141 commented on #156
Thanks! Assigned :+1:

[2022-09-06 07:08] #126 closed

[2022-09-06 07:09] takahirom commented on #176
I think there isn't a design now, so just do this. 🙏
https://github.com/DroidKaigi/conference-app-2022/pull/129

[2022-09-06 07:29] #208 closed

[2022-09-06 08:13] MasahiroLittleforest commented on #142
I want to take this issue🙋

[2022-09-06 08:16] takahirom commented on #142
Thanks!Assigned!

[2022-09-06 09:14] MasahiroLittleforest commented on #142
I have some questions.

1. In which modules do I need to enable the metrics?
2. Where should the reports be written? under build?

[2022-09-06 09:44] takahirom commented on #142
👀

[2022-09-06 09:46] takahirom commented on #142
1. Can you use compose plugin in bulid-logic?
2. Please put it in bulid/
You can check my pr in nowinandroid🙏

[2022-09-06 10:00] takahirom commented on #103
It looks difficult issue 😄 Good luck 👍

[2022-09-06 10:10] #186 closed

[2022-09-06 11:10] #114 closed

[2022-09-06 11:21] takahirom commented on #222
I think it is difficult to use correctly 😅
If we introduce it, and you write something in build.gradle. Our CI will run it and print variables. 😭
https://securitylab.github.com/research/github-actions-preventing-pwn-requests/

[2022-09-06 11:21] #222 closed

[2022-09-06 11:25] takahirom opened #227 "Move currentStartTime variable into remember{}"
**Idea Description**
Just move it in 🙏
https://github.com/DroidKaigi/conference-app-2022/blob/a03690dcc290e26ffe7e00c9de4f2675a126ae3d/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/Sessions.kt#L200-L202

**Reference images and links**

[2022-09-06 11:37] takahirom opened #229 "Move raw text to strings.xml in SessionDetail"
**Idea Description**
The title says everything.
Please add values-en/strings.xml too, if possible.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionDetail.kt#L317

[2022-09-06 11:56] #161 closed

[2022-09-06 12:00] yuheikawakami commented on #229
🙋‍♂️

[2022-09-06 12:06] takahirom commented on #180
@obaya884 Sorry for being late. Do you still want to take this issue?

[2022-09-06 12:06] takahirom commented on #180
I think it is great!

[2022-09-06 12:07] minibugdev commented on #227
🙋‍♂️

[2022-09-06 12:08] obaya884 commented on #180
Sure, I will try!

[2022-09-06 12:23] takahirom commented on #227
Thanks! Assigned🙏

[2022-09-06 12:40] NUmeroAndDev opened #230 "Replace montserrat font resource with downloadable font"
**Idea Description**
- Replace montserrat's font resource with downloadable font.
- And want to add the weight of the font with W500 and W400 when making downloadable font.

**Reference images and links**
- https://developer.android.com/jetpack/compose/text#downloadable-fonts
- https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=51510%3A8890

[2022-09-06 12:53] risako070310 commented on #230
I want to try this issue 🙋🏻‍♀️

[2022-09-06 12:54] takahirom commented on #230
Thanks! Assigned!🙏

[2022-09-06 13:27] #153 closed

[2022-09-06 13:41] #181 closed

[2022-09-06 13:46] takahirom opened #232 "Change API URL by flavor"
**Idea Description**

Please use the production URL if prod.
But we are creating a Kotlin Multiplatform app.
You can use BuildKonfig or something.

**Reference images and links**
Where you should change
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-data/src/commonMain/kotlin/io/github/droidkaigi/confsched2022/data/sessions/SessionsApi.kt#L29

Production API URL
https://ssot-api.

[2022-09-06 13:46] takahirom commented on #91
Thanks! Assigned 👍

[2022-09-06 13:51] RyuNen344 commented on #189
thanks! assined!

[2022-09-06 14:02] takahirom opened #234 "Add circular progress indicator Preview in session screen and move it to center"
**Idea Description**
If we pass the loading, we can make the Preview. and we can set it center.

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/188655475-bf6fb0db-37c3-45c1-bbf0-e5bffbc3f5c7.png)

https://github.com/DroidKaigi/conference-app-2022/blob/a03690dcc290e26ffe7e00c9de4f2675a126ae3d/feature-sessions/src/main/java/io/github/droidkaigi/confsched202

[2022-09-06 14:16] usuiat commented on #106
Let me ask a question.
How can I get the speaker's twitter user name?
I thought the text displayed next to the speaker's image was the twitter user name, but it wasn't.
Is adding a process to get twitter user names from the server also in scope for this issue?

[2022-09-06 14:22] minibugdev commented on #232
please let me try 🙋‍♂️

[2022-09-06 14:23] takahirom commented on #232
Thanks! Assigned 👍

[2022-09-06 14:30] risako070310 commented on #230
@takahirom
I think this issue is to change the montserrat font in the Typography of KaigiTheme to a downloadable font, but KaigiTheme.typography is never used in this app I think so. Why is MaterialTheme.typography used in view?
Which is the appropriate definition for downloadable font?

[2022-09-06 14:41] takahirom commented on #230
👀

[2022-09-06 14:47] takahirom commented on #230
Thanks for inquiring! Please feel free to ask me anything.
This app uses this theme throughout the app by specifying the theme here.
In MaterialTheme, the theme specified in the parent Composable of Compose can be used in the child Composable.
For example, MaterialTheme.typography.titleLarge is used in SessionListItem. This should use the titleLarge in the typography specified in KaigiTheme.

[2022-09-06 14:52] risako070310 commented on #230
Thanks to reply. I didn't know about the theme system of Compose. I'll look into it and try to implement it!!

[2022-09-06 14:56] takahirom opened #236 "Define all typography"
**Idea Description**
Currently, we have only 3 typography
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-designsystem/src/androidMain/kotlin/io/github/droidkaigi/confsched2022/designsystem/theme/Type.kt

**Reference images and links**
Design Kit
https://www.figma.com/file/XsVzpDZSkEQANgCZLRTDDy/DroidKaigi-2022-Material-3-Design-Kit?node-id=51510%3A8890

[2022-09-06 15:00] takahirom commented on #106
Sorry. I think it is impossible because there is no data related to Twitter. 🙇
Let me close this issue.

[2022-09-06 15:00] #106 closed

[2022-09-06 15:03] ikemura23 commented on #234
🙋‍♀️

[2022-09-06 15:03] RyuNen344 commented on #234
thanks! assinged!

[2022-09-06 15:16] takahirom opened #238 "Use Slot API pattern in KaigiTopAppBar for logo image"
**Idea Description**
We need to show the title instead of the logo in some screen.

About slot API pattern, Please refer to this.
https://github.com/DroidKaigi/conference-app-2022/issues/114

**Reference images and links**

[code]

[2022-09-06 16:02] marshi commented on #236
🙋

[2022-09-06 16:02] RyuNen344 commented on #236
Thanks! assigned! 🙏

[2022-09-06 16:19] #227 closed

[2022-09-06 16:23] #157 closed

[2022-09-06 16:44] #187 closed

[2022-09-07 00:36] knyackiko commented on #238
I'll try this 🙋‍♀️

[2022-09-07 00:49] takahirom commented on #238
Thanks! Assigned 👍

[2022-09-07 01:02] mtkw0127 commented on #172
@sobaya-0141
I couldn't show time schedule screen like below.
Android Studio shows the error in [Logcat](https://gist.github.com/mtkw0127/59469649da54167782cdf55545ad9bb5).

If I changed description field of SessionResponse.kt nullable, I can see time table.
Dou you see the table? This is only me?

<img src="https://user-images.githubusercontent.com/36796492/188765221-b8f69e46-2a3e-404b-aa45-1e991

[2022-09-07 01:31] l2hyunwoo commented on #175
Will the design of the announcement screen be released?

[2022-09-07 02:16] takahirom opened #249 "Update Zipline"
**Idea Description**
Run zipline locally and see if it works when update.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/pull/58

[2022-09-07 02:26] takahirom opened #250 "Zipline is hanging when calling"
**Idea Description**

When we call it, the response does not come. When we use a local server, It works.

https://github.com/DroidKaigi/conference-app-2022/blob/9a5093652a62da0c96e7914be6702cee5c56f1b0/core-zipline/src/androidMain/kotlin/io/github/droidkaigi/confsched2022/zipline/SessionsZipline.kt#L90

**Reference images and links**

[2022-09-07 02:28] takahirom opened #251 "Add SessionDetailScreenTest"
**Idea Description**

Add a test like this.

https://github.com/DroidKaigi/conference-app-2022/blob/9a5093652a62da0c96e7914be6702cee5c56f1b0/feature-sessions/src/test/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionsScreenTest.kt#L13

**Reference images and links**
You can check the README
https://github.com/DroidKaigi/conference-app-2022#make-test-scalable-by-using-robot-testing-p

[2022-09-07 02:34] sobaya-0141 commented on #172
I believe this is being addressed by #246.
Could you try to update it?

[2022-09-07 03:40] #164 closed

[2022-09-07 04:16] hkusu commented on #222
OK, I understand.

There may be no danger if you use labels like below.

https://securitylab.github.com/research/github-actions-preventing-pwn-requests/

Please let me know if there is an opportunity to introduce 😄

[2022-09-07 04:19] NUmeroAndDev opened #254 "Not to reuse Modifier instances more than necessary in SessionDetail.kt"
**Idea Description**
- I want to avoid passing the argument modifier of the composable fun to the child composable in the [SessionDetail.kt](https://github.com/DroidKaigi/conference-app-2022/blob/55948f565047505abb503899a77e40c2766f3ed5/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionDetail.kt) file.

- I want it like this↓.

[code]

**Reference images and

[2022-09-07 06:01] l2hyunwoo commented on #251
Can I take this issue?

[2022-09-07 06:05] takahirom commented on #251
Thanks! Assigned 👍

[2022-09-07 07:53] #238 closed

[2022-09-07 08:11] kafumi commented on #182
Could I try this task? 🙋‍♂️

[2022-09-07 08:12] takahirom commented on #182
Thanks! I'm looking forward to your PR!

[2022-09-07 08:17] Nthily commented on #176
Can i take this issue?

[2022-09-07 08:24] takahirom commented on #176
Of course! Thanks as always. Assigned 👍

[2022-09-07 09:35] SSong-develop commented on #254
Can i get this issue?

[2022-09-07 09:35] takahirom commented on #254
Thanks! Assigned 🙏

[2022-09-07 12:51] takahirom opened #259 "Introduce multiplatform resource"
**Idea Description**

I would like to manage strings.

I tried moko-resource, but I couldn't solve the CI build error.

https://github.com/DroidKaigi/conference-app-2022/pull/119

limitation

* We can use it in Kotlin Multiplatform
* We can change it by locale. (EN/ JP etc)

**Reference images and links**

[2022-09-07 13:00] takahirom opened #260 "Add project icon"
![image](https://user-images.githubusercontent.com/1386930/188883996-d2e7cbaa-332a-456b-950d-350230d2266b.png)
All you have to do is put the image to `.idea/icon.png`
https://github.com/DroidKaigi/conference-app-2021/blob/main/.idea/icon.png

And we have an icon in app-android res folder.

[2022-09-07 13:08] fumito-s commented on #260
🙋

[2022-09-07 13:09] takahirom commented on #260
Thanks! Assigned 👍

[2022-09-07 13:11] takahirom opened #261 "Optimize README images"
**Idea Description**
Resize and use some tool to optimize it 🙏

**Reference images and links**

[2022-09-07 13:16] RyuNen344 opened #262 "Insert margin between tab items"
insert between tab items 🙏

| expects | now |
| --- | --- |
| ![margin](https://user-images.githubusercontent.com/32740480/188887405-811ee61c-c603-4031-b1b5-3d003f8c5f89.png) | ![Screenshot_20220907_221147](https://user-images.githubusercontent.com/32740480/188887578-82fd95d3-cbc0-48ba-9bf1-158630b968e3.png) |

[Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-Ap

[2022-09-07 13:35] surajsau commented on #155
I would like to give this a try 🙋‍♂️

[2022-09-07 13:41] minibugdev commented on #262
🙋‍♂️

[2022-09-07 13:42] RyuNen344 commented on #262
Thanks！assinged！ 🙏

[2022-09-07 13:48] #176 closed

[2022-09-07 13:49] kittinunf commented on #259
@takahirom The reason why it didn't work on CI because we use Ubuntu for our CI, moko-resouces throws error when the host is not macOS.

I did that in the past in my prev. company, when we change the host to macOS, it works well.

Can we change the host to mac instead? If not, we won't be able to resolve the CI checks.

[2022-09-07 13:53] takahirom commented on #259
I didn't know that 👀
We can use GitHub Actions as much as we'd like. Because It's free for open source. 😄

[2022-09-07 13:54] takahirom commented on #259
@kittinunf Do you want to try that?

[2022-09-07 13:56] Nthily commented on #261
How about this [imgbot](https://github.com/apps/imgbot)? 🤔

[2022-09-07 13:56] kittinunf commented on #259
I definitely can since I have done it before! But if we don't have macOS CI for github action (I think it is only in the paid plan), I don't think it is worth without CI checks.

[2022-09-07 13:58] kittinunf commented on #259
In my experience, we shared Strings and Colors, it wasn't working with the Image resources though (but that was version 0.18.0 which was quite some time ago).

[2022-09-07 14:11] takahirom commented on #259
I'm not sure if this problem is related to the host OS because the error message is `multiplatform_strings.xml: Error: Duplicate resources`.
I thought it is not related to the host 👀
But probably we will need to try to build on Mac OS for iOS. That's for sure.
https://github.com/DroidKaigi/conference-app-2022/pull/119

[2022-09-07 14:16] takahirom commented on #261
I didn't know that 👀 Let me think it over.

[2022-09-07 14:28] takahirom commented on #261
Thanks. I introduced it for trying in this repository.
But as far as this issue is concerned, the images are in `https://user-images.githubusercontent.com/` . So Probably we can't use them for it.

[2022-09-07 14:34] #205 closed

[2022-09-07 14:39] takahirom opened #266 "Make a common value for layout size"
**Idea Description**
There are values duplicated like timeTableColumnWidth = 192.dp and TimeTable.kt as roomHeaderWidth = 192.dp.
Can we make an object like this and make a common value?
Say, TimetableDefaults
https://github.com/android/nowinandroid/blob/900450eb059ce20d233ee611b4fd7fbaa0aa040e/core-designsystem/src/main/java/com/google/samples/apps/nowinandroid/core/designsystem/component/ToggleB

[2022-09-07 14:59] #91 closed

[2022-09-07 15:15] mtkw0127 commented on #172
@sobaya-0141
I could run latest main branch. Thank you 👍

I'm junior level developer. so I want to question 😭
speakers is common field Session and Special in TimetableItem.kt.
speakers field move to TimetableItem seald class as abstract field？？

[2022-09-07 15:51] l2hyunwoo commented on #166
Working In Progress. Maybe PR will be probably submitted within today.

[2022-09-07 15:53] sadashi-ota commented on #174
I want to try it! 🙋‍♂️
Is this an announcement screen?

[2022-09-07 16:59] wildstarzw commented on #266
🙋‍♂️

[2022-09-07 17:29] t-yusaku commented on #266
@wildstarzw
Thanks! Assigned 👍

[2022-09-07 22:12] takahirom commented on #172
You can create draft to align implementation policies before you spend a lot of time. 👍I'm rooting for you.

I think we can implement the seach() method in Timetable class.
And we can implement it by abstract isMatch(query) in TimetableItem and implement it in Special and Session.

[2022-09-07 23:17] sobaya-0141 commented on #174
Thanks! Assigned :+1:

[2022-09-08 00:20] #234 closed

[2022-09-08 00:25] sadashi-ota commented on #174
Thx.

How about this?
You mean the notation fluctuation of announcements, informations, and notifications, right?

[2022-09-08 01:15] STAR-ZERO opened #279 "Introduce Kotlin Explicit API mode to core-xxx modules"
**Idea Description**

Explicit visibility using `public` or `internal` or `private` allows you to control what expose outside the module. Kotlin default visibility is `public`, so you may expose things you don't want to be public.

You can force explicit visibility using [Kotlin Explicit API mode](https://github.com/Kotlin/KEEP/blob/master/proposals/explicit-api-mode.md). It helps control visibili

[2022-09-08 01:29] takahirom commented on #279
Thank you for suggesting it. I'm using Explicit API mode in my company library project. It is useful when you should manage what you expose or not.
So, how about enabling it in core-xxx modules?

[2022-09-08 01:31] #262 closed

[2022-09-08 01:39] sadashi-ota commented on #174
I understood the `notification screen` as `information screen` and implemented.
tell me if i'm wrong

[2022-09-08 02:12] kittinunf commented on #259
How about if you could setup a macOS host for CI GitHub, I could help you with this one, what do you think?

[2022-09-08 02:16] #218 closed

[2022-09-08 02:26] #182 closed

[2022-09-08 03:19] STAR-ZERO commented on #279
I think it's good to apply it in the core modules.

I don't know the details of the convention plugin for this project, but it can be applied with the convention plugin.

[2022-09-08 03:23] horie1024 commented on #249
🙋

[2022-09-08 03:29] horie1024 commented on #249
The 0.92 release requires developers to explicitly opt out of signature checks.

ManifestVerifier.Companion.NO_SIGNATURE_CHECKS to use ZiplineLoader without code signature
verification.

So we must pass the ManifestVerifier.Companion.NO_SIGNATURE_CHECKS when instantiating the ZiplineLoader.

[2022-09-08 03:52] takahirom commented on #249
We are using it as an experimental approach. So it is OK 🙆

[2022-09-08 04:58] horie1024 commented on #249
Okay, I'll work on this 🙂

[2022-09-08 06:52] #160 closed

[2022-09-08 06:53] #260 closed

[2022-09-08 07:39] #266 closed

[2022-09-08 07:42] takahirom commented on #249
Probably it is difficult to run. Please let me know if you need any help 🙏

[2022-09-08 07:44] takahirom commented on #259
Do you mean we change this to `runs-on: macos-12` ?
https://github.com/DroidKaigi/conference-app-2022/blob/main/.github/workflows/Build.yml

[2022-09-08 08:39] takahirom commented on #135
Thanks! Assigned 👍 Can you take a look at this?
https://developer.android.com/develop/ui/views/launch/splash-screen

[2022-09-08 10:48] t-yusaku opened #290 "[Improve Timetable] Pinch in/out to change the scale of hours"
**Not sure if this issue is possible. Welcome to try it!**

**Idea Description**
We want to change the `Hours` scale on pinch in/out to show more sessions on the screen.
It means a UI like Google Calendar for Android (Day, 3days, Week).

**Required**
- Max scale: Same as [the UI design](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App) (already implemented)
- Min sc

[2022-09-08 11:16] #174 closed, assigned to sadashi-ota

[2022-09-08 11:17] #142 closed

[2022-09-08 12:02] #229 closed

[2022-09-08 12:27] RyuNen344 commented on #250
Thanks! assigned!

That's right! 💡

[2022-09-08 14:06] takahirom opened #296 "Hoist URL handling to KaigiApp"
**Idea Description**

There are a lot of startActivity intent on screens to open web pages.
How about hosting the event and handling it in new `KaigiExternalNavigation`?

And we can also add navigateGitHub(xxx) for adding the special handling for the intent.

[code]

**Reference images and links**

[2022-09-08 14:10] takahirom opened #297 "Call reportFullyDrawn for performance"
**Idea Description**
It makes the app fast because it is used app optimization.

**Reference images and links**
https://github.com/android/nowinandroid/blob/c67812563be5a710ea8a57b0580f6436599df8a5/feature-foryou/src/main/java/com/google/samples/apps/nowinandroid/feature/foryou/ForYouScreen.kt#L153

[2022-09-08 14:12] takahirom opened #298 "Introduce Detekt for Compose Lint"
**Idea Description**
I'm not familiar with it.
But I heard it has a useful rule.
Can we try it?

**Reference images and links**

[2022-09-08 14:15] takahirom commented on #298
We want to use this 🙏
https://github.com/DroidKaigi/conference-app-2022#configurable-build-logic

[2022-09-08 14:18] takahirom opened #299 "Make SmallTopAppBar TopAppBar"
**Idea Description**
SmallTopAppBar got deprecated.

**Reference images and links**
https://developer.android.com/jetpack/androidx/releases/compose-material3?hl=en#1.0.0-beta02

[2022-09-08 14:21] takahirom opened #300 "Add easy test to announcement"
**Idea Description**

We would like to create a test like AboutScreenTest. The test is to check the announcement screens title exists.

**Reference images and links**

https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-about/src/test/java/io/github/droidkaigi/confsched2022/feature/about/AboutScreenTest.kt

[2022-09-08 14:27] takahirom opened #301 "Extract SessionDetailBottomAppBar Composable function"
**Idea Description**
SessionDetailScreen() is a little big.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionDetail.kt#L153

[2022-09-08 14:30] #236 closed

[2022-09-08 14:31] kubode commented on #250
WIP

## Investigation

### Stack trace
[code]

[2022-09-08 14:42] umsys commented on #299
I want to challenge myself with my first contribution. 🙋

[2022-09-08 14:43] RyuNen344 commented on #299
Thanks!assigned!🥳

[2022-09-08 14:43] takahirom commented on #299
Thanks! Assigned! I'm rooting for you👍

[2022-09-08 15:19] Corvus400 commented on #300
I would like to do this task.

[2022-09-08 16:09] horie1024 commented on #250
Hi. I am facing the same problem trying to solve https://github.com/DroidKaigi/conference-app-2022/issues/249.
I saw the same log too. And when I check, it seems that `prepareModifiers` is not executed.

[2022-09-08 16:17] horie1024 commented on #250
Question 🙋‍♂️

I am experiencing the same problem with the latest version 0.94 of zipline.

My task is to update the zipline version. So, can I submit a pull request first https://github.com/DroidKaigi/conference-app-2022/issues/249?

[2022-09-08 16:21] horie1024 commented on #250
By the way, the manifest download seemed to work fine.

[2022-09-08 17:12] kafumi commented on #290
Although I might need some time to finish this task, could I try this one 🙋?

We should be able to use [`transformable`](https://developer.android.com/jetpack/compose/gestures#multitouch) modifier to detect zooming, but I guess we need some adjustment with dragging event handling (`PointerInputScope.detectDragGestures()`) for good zooming detection.

[2022-09-08 17:50] ym223 commented on #301
I'd like to do this issue :raising_hand:

[2022-09-08 18:25] RyuNen344 commented on #301
Thanks! Assigned! 🤟

[2022-09-08 22:48] takahirom commented on #290
I think so too! Thanks as always. Assigned.

[2022-09-09 01:27] iwata-n commented on #298
✋

[2022-09-09 01:28] takahirom commented on #298
Thanks! Assinged 👍

[2022-09-09 02:18] tasugi commented on #297
I'll try this!

[2022-09-09 02:20] t-yusaku commented on #297
Thanks!! Assigned 😊

[2022-09-09 02:23] kubode commented on #250
My opinion is that this issue should be done after #249.
Because there are several breaking changes between Zipline 0.9.1 and 0.9.4.

[2022-09-09 02:29] takahirom commented on #250
@horie1024
Thanks for your opinions. Could you open PR first? 🙏

[2022-09-09 02:43] #299 closed

[2022-09-09 03:37] #254 closed

[2022-09-09 04:56] yanzm opened #310 "KaigiScaffold and KaigiTopAppBar should be placed at io.github.droidkaigi.confsched2022.designsystem.components"
**Idea Description**

KaigiScaffold and KaigiTopAppBar is placed at `io.github.droidkaigi.confsched2022.designsystem.theme` package of core-designsystem module.
I think it should be at `io.github.droidkaigi.confsched2022.designsystem.components` package

**Reference images and links**

- https://github.com/DroidKaigi/conference-app-2022/blob/main/core-designsystem/src/androidMain/kotlin/io/github/

[2022-09-09 05:32] yanzm opened #311 "list mode selection should be keep through navigation"
**Describe the bug**

Session schedules can be shown in timetable mode or list mode.
This selection should be kept through navigation like moving to detail and back, but it will be reset to timetable mode after navigation.

**To Reproduce**
Steps to reproduce the behavior:

1. show timetable
2. switch to list mode by clicking the calendar icon
3. move to session detail
4. click the back button
5.

[2022-09-09 05:36] iwata-n commented on #298
Documentation is probably on this page.

https://detekt.dev/docs/introduction/compose/

[2022-09-09 05:37] takahirom commented on #298
@iwata-n Have you ever used this?

[2022-09-09 05:38] iwata-n commented on #298
Not yet!

[2022-09-09 05:39] takahirom commented on #298
I was wondering if our app has a lot of issues with it 👀
But let's try anyway!

[2022-09-09 05:40] takahirom commented on #310
Definitely. Great catch! 👍

[2022-09-09 05:43] iwata-n commented on #298
Do you have any information?

[2022-09-09 05:44] takahirom commented on #298
We are on the same page 😄

[2022-09-09 05:49] yanzm commented on #310
please someone take this easy issue, I should use my time to prepare my session :-)

[2022-09-09 05:56] takahirom commented on #311
We probably need to store the timetable or not in the NavBackStackEntry.
I think we have two options.
1. Use rememberSaveable
2. Use ViewModel

Since the value bring about many changes to the app, and it can affect other UiModels, it would be appropriate to place it in ViewModel.

[2022-09-09 06:27] #300 closed

[2022-09-09 07:23] umsys opened #312 "The indicator for loading Contributors is located in the upper left corner"
**Idea Description**
The indicator for loading Contributors is located in the upper left corner.
I think it would be better if it were placed in the center of the screen.

**Reference images and links**

|  Now | I think it would be better |
| ------------- | ------------- |
| <img src="https://user-images.githubusercontent.com/45583423/189293154-63e72081-6eb2-4756-b34d-e25ccf11a2b4.png" width="32

[2022-09-09 07:49] takahirom commented on #312
Good catch

[2022-09-09 08:23] kittinunf commented on #259
👍 Thanks sounds like we can move ahead with this.

[2022-09-09 08:38] #156 closed

[2022-09-09 08:59] SSong-develop commented on #312
Can i get this issue?

[2022-09-09 09:12] takahirom commented on #312
OK! Good luck!

[2022-09-09 10:44] takahirom commented on #310
Thanks! I'll assign it to you.

[2022-09-09 11:17] sudachi808 commented on #311
I'll give it a try.🙋

[2022-09-09 11:23] takahirom commented on #311
Thanks. Assigned!

[2022-09-09 12:19] kittinunf commented on #259
@takahirom @ry-itto I couldn't build the iOS project. It says that AssetColors file is not found (not generated by SwiftGen plugin).

Do you have any tick to make iOS working and/or runnable?

[2022-09-09 12:31] kittinunf commented on #259
Ah, I got it, we need to run scripts under `app-ios/` folder first.

[2022-09-09 12:33] takahirom opened #317 "Expand description when you click description in session detail"
**Idea Description**
Currently, it expand just when you click read more. But I want it to expand when you click description too.

**Reference images and links**

[2022-09-09 13:29] furusin commented on #317
I'm in 🙋

[2022-09-09 13:34] t-yusaku commented on #317
@furusin
Thanks! Assigned 👍

[2022-09-09 13:55] ry-itto commented on #259
@kittinunf
Sorry for lack of documentation about iOS build 🙇🏼
In this iOS project, we need to run following before build whole app.

Some targets that depends on `SwiftGenPlugin` needs to build individualy before building a whole app.

I think this is Xcode 13.x bug because above workaround not needed on Xcode 14.0.

[2022-09-09 14:45] takahirom opened #323 "Add `modifier = Modifier` parameter to all composable function in Search"
**Idea Description**
Please make it configurable.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/Search.kt
https://chris.banes.dev/always-provide-a-modifier/

[2022-09-09 14:47] takahirom opened #324 "Add different ViewModel for Search"
**Idea Description**
I think it should be a different ViewModel. Because it is a different screen.

**Reference images and links**

[2022-09-09 14:51] takahirom opened #325 "Remove searchContentHeight"
**Idea Description**
A ordinary variable should not be used in Composable function if you want to recompose.
And I think we can do it with wrap content.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/Search.kt#L190

[2022-09-09 14:51] d1-morimoto commented on #279
Excuse me. This is an interesting idea.
How about writing ```explicitApiWarning()``` in "build.gradle.ktx" for each core-xxx module?
This has two advantages.

* Minimally rewrite
* Warning highlights make developers aware of "explicit mode"

[2022-09-09 15:04] takahirom opened #326 "Pass TimetableItem instead of passing many parameters."
**Idea Description**
I know there is a trade-off.
But I want to create a method in TimetableItem for the UI logic in this project to standardize the logic.

https://github.com/DroidKaigi/conference-app-2022/blob/c3f9fa72e1e74aa6db5f3baad71d055f58e22cef/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionDetail.kt#L206
**Reference images and links**

[2022-09-09 15:15] takahirom opened #327 "Search Screen Robot testing"
**Idea Description**
It can be exciting.
You can refer SessionScreenTest.
I would like to make like it test.

[code]

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature-sessions/src/test/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionsScreenTest.kt

[2022-09-09 15:23] #290 closed

[2022-09-09 15:35] fornewid commented on #296
🙋‍♂️

[2022-09-09 15:42] takahirom commented on #279
Thanks for your suggestion. Let me think it over 🙇

[2022-09-09 16:09] mikanIchinose commented on #323
✋🏻
Can I challenge this work?

[2022-09-09 16:35] RyuNen344 commented on #323
Yes you can!! Thanks!! assigned!!

[2022-09-09 19:30] t-yusaku opened #333 "Make navigation drawer scrollable"
**Idea Description**
- Title says everything.
- Because of not scrollable, it cannot be fully displayed when the screen size is not enough.
- This happens on devices like Pixel when it is portrait mode.

**Reference images and links**
![Screenshot_20220910-042952.png](https://user-images.githubusercontent.com/58973616/189429353-bd9b9da3-1823-41f7-ab98-ed7255000595.png)

[2022-09-09 22:22] Corvus400 opened #335 "[API]I want to be able to display the supported languages for the session as well as the web version."
**Idea Description**
On the web, it seems to be possible to display JP,EN or EN,JP, etc.
However, the API response structure used in the application only includes the speaker's first language, so it is not possible to support the same display as the web version.
To solve this, I think the structure should be languages(Array[String]) instead of language(String).

**Reference images and links**
![スク

[2022-09-09 23:13] #249 closed

[2022-09-09 23:37] takahirom commented on #335
I'll have our staffs check it🙏

[2022-09-09 23:42] #312 closed

[2022-09-10 00:19] #317 closed

[2022-09-10 03:10] takahirom commented on #335
The `interpretationTarget`  field will be added.

[2022-09-10 04:31] takahirom commented on #250
The update is finished. 🙏

[2022-09-10 04:37] #296 closed

[2022-09-10 06:14] yoshimuratakuma0 opened #338 "Make progress indicator center"
Idea Description
- it's the same as title.

Reference images and links
![image](https://user-images.githubusercontent.com/88303689/189471644-409db523-7226-4d6f-99b0-70a5a7a51c86.png)

[2022-09-10 06:15] anzuchitakuro commented on #333
🙋

[2022-09-10 06:15] yoshimuratakuma0 commented on #338
✋

[2022-09-10 07:05] fumito-s commented on #326
🙋

[2022-09-10 07:10] t-yusaku commented on #333
@anzuchitakuro
Thanks! Assigned 🙏

[2022-09-10 07:17] t-yusaku commented on #338
@yoshimuratakuma0
Thanks for your report 👍
But I think this is same as  #312  #322
So, could you please check if there is any problem with the latest version. 🙏
If there is no problem, I will close the issue.

[2022-09-10 07:20] takahirom commented on #326
Thanks! Assigned

[2022-09-10 07:38] #333 closed

[2022-09-10 07:41] #311 closed

[2022-09-10 07:43] yoshimuratakuma0 commented on #338
@t-yusaku
Exactly.
I'm sorry for checking it beforehand:bow:
Thank you so much.

[2022-09-10 07:43] #338 closed

[2022-09-10 07:51] t-yusaku commented on #338
@yoshimuratakuma0
No problem! Thanks for checking 🙏
We are looking forward to the next time if you have 👍

[2022-09-10 08:10] iwata-n commented on #298
@takahirom
Should I change the CI?

[2022-09-10 08:12] takahirom commented on #298
If you can do it, it is the best.
But I leave it to you.👍

[2022-09-10 08:19] iwata-n commented on #298
Thank you very much.
I found some issues with the lint results.
So, can I create another Issue after the merge?

[2022-09-10 08:34] takahirom commented on #298
I think It's great.
Let's make it better step by step!

[2022-09-10 08:44] t-yusaku opened #342 "Add padding to `Contributors` icon"
**Idea Description**
- According to the app design, there is a blank between the contributor's icons

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App
![image](https://user-images.githubusercontent.com/58973616/189475922-6d75f455-857b-4485-b0da-f750432e5024.png)

[2022-09-10 09:39] iiinaiii commented on #342
I'd like to try this issue 🙋

[2022-09-10 09:46] kubode commented on #250
Thanks!
I will try to continue work on this issue.

[2022-09-10 09:56] #298 closed

[2022-09-10 10:05] t-yusaku commented on #342
@iiinaiii
Thanks!! Assigned 👍

[2022-09-10 11:49] #342 closed

[2022-09-10 12:00] takahirom opened #344 "The session's titles become too small when they shrink."
**Idea Description**
We can define minimum text size. I think we can use 4 or 8 or 12 sp. Can you prototype and decide it?
I think we can calculate the size by (16sp / verticalScale) or 16sp * verticalScale and change the scale.
https://github.com/DroidKaigi/conference-app-2022/blob/f799ad158e73db9d28db579d2b4c7b9d489a6e92/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/s

[2022-09-10 12:05] takahirom opened #345 "Reduce 1 minute when calculate timetable item height to separate each sessions."
**Idea Description**
We want to make a space here so. When calculating session height, I would like to use `minute - 1` height.
![image](https://user-images.githubusercontent.com/1386930/189482383-9227c45d-5691-46fe-b629-a2db5fd9f29e.png)

**Reference images and links**

https://github.com/DroidKaigi/conference-app-2022/blob/60ab6c88adf362103600a05d8b2a386d60a51f53/feature-sessions/src/main/java/i

[2022-09-10 12:08] takahirom opened #346 "Fix timetable preview"
**Idea Description**
It is not possible at a real DroidKaigi for many sessions to run in parallel in the same room.

**Reference images and links**
<img width="418" alt="image" src="https://user-images.githubusercontent.com/1386930/189482553-5a4b6228-47af-4d83-825f-4924d585258a.png">

We should fix the fake() logic

https://github.com/DroidKaigi/conference-app-2022/blob/1c152b630ac891dbfe5de0ff7c1

[2022-09-10 12:14] takahirom opened #347 "Move session detail date to strings.xml's format"
**Idea Description**
We have English speakers at the conference. So we have to show English. So please adapt by strings.xml resource.

**Reference images and links**
strings.xml format
https://developer.android.com/guide/topics/resources/string-resource#formatting-strings

https://github.com/DroidKaigi/conference-app-2022/blob/b596f1baa82f345d1645a94b6c9f8f5f685b176f/feature-sessions/src/main/java

[2022-09-10 12:20] takahirom opened #348 "Make English default resource"
**Idea Description**
If non-Japanese and non-English speakers look at the DroidKaigi app, they will see the Japanese currently. But English is more friendly for most people. So I think it is appropriate to use English as the default resource.

**Reference images and links**
Remove `values-en` and add `values-ja` for all resources.

I think we can do it like this.

[code]

[2022-09-10 12:29] t-yusaku commented on #344
My opinion is here https://github.com/DroidKaigi/conference-app-2022/pull/320#discussion_r967192630
I think that keeping default text size is better for visibility.  Instead, omit text that does not fit in the session item. 🤔
But it is just in my opinion. So, I leave the decision to @takahirom and the assignee of this issue. 🙏

[2022-09-10 12:50] rmakiyama commented on #345
🙋🏻‍♂️I'll try it!

[2022-09-10 12:51] t-yusaku commented on #345
Assigned!! Thanks 👍

[2022-09-10 12:54] takahirom commented on #344
I think this way. But I think the default size can be the `not readable size` too early. So I would like to use `readable size`.
default size > readable size > too small size > not readable size

[2022-09-10 12:55] t-yusaku opened #349 "Apply the english version for the about description"
**Idea Description**
- Title says everything
- Use same text as Web https://droidkaigi.jp/2022/en/

It's scheduled to take place on the 5 to 7 of October 2022.

**Reference images and links**
<img src="https://user-images.githubusercontent.com/58973616/189484215-d460f6f1-ab63-43f0-9c06-2c1ccfa9aab1.png" width="480" />

[2022-09-10 13:06] t-yusaku commented on #344
That's make sense. I agree with you.
It is better way to define and use the readable size than only the default size.  👍

[2022-09-10 13:10] att55 commented on #189
@obaya884 @RyuNen344
Please let me confirm on thing 🙏🏼

In this issue, which web link should I use?

1. code of conduct : the title of this issue is as follows.

https://portal.droidkaigi.jp/about/code-of-conduct

2. privacy policy : the Idea Description of this issue is as follows.

https://portal.droidkaigi.jp/about/privacy

[2022-09-10 13:31] d1-morimoto commented on #279
:bow:

[2022-09-10 13:42] takahirom commented on #189
We are talking about this issue. Please wait🙏

[2022-09-10 13:48] att55 commented on #189
@takahirom OK, thank you for your reply!

[2022-09-10 13:54] att55 commented on #349
I'd like to do this task 🙋

[2022-09-10 13:59] takahirom commented on #349
Thanks! Assigned!🙏

[2022-09-10 14:01] #345 closed

[2022-09-10 14:04] mikanIchinose commented on #323
I have some questions.

### 1. Does the Function annotated `@Preview` need to have a `modifier` parameter?

In this case, the function is `SearchScreenPreview`

### 2. I think that the `modifier`'s position is the first. Is it OK?

ex.
[code]

### 3. How many tasks are there?

I think there are 2 tasks for this issue.

1. Add `modifier` parameter to composable function signatures
2. Pass `modifier

[2022-09-10 14:14] takahirom opened #354 "Can you suggest any good way to post Compose preview differences in the PR?"
**Idea Description**
I would  like to see the diff of Compose Preview in the Pull Request comment.
Now, we can store the difference in GitHub artifact and comment the workflow URL🎉
But if we use GitHub artifact, the artifact will make a zip file and we can't access in the image file from PR comment.
Is there any idea to show the diff?

**Reference images and links**
https://github.com/DroidKaigi/c

[2022-09-10 14:16] takahirom commented on #323
👀

[2022-09-10 14:18] rmakiyama opened #355 "Screen flickering when transitioning between screens"
**Idea Description**

Currently, screen flickering when transitioning between screens
It's hard to tell if the device is set to dark mode, but it's clearly happening if it's not in dark mode.

The cause is that the screen transition is a CrossFade animation, so the background color of MainActivity is shown.

**Reference images and links**

https://user-images.githubusercontent.com/7961496/18948729

[2022-09-10 14:18] rmakiyama commented on #355
May I work on this issue? 👀

[2022-09-10 14:28] takahirom commented on #355
OK!🙆 I thought it is default animation of navigation compose.
I'm looking forward to seeing your implementation👀

[2022-09-10 14:30] #349 closed

[2022-09-10 14:32] rmakiyama commented on #355
Thanks😄

Yes, and I think the default animation should not be changed.
I plan to try changing the theme.xml settings.

[2022-09-10 14:45] att55 commented on #347
I'd like to do this task 🙋🏼

[2022-09-10 14:59] takahirom commented on #347
Thanks! Assigned!

[2022-09-10 15:08] takahirom commented on #279
@d1-morimoto
Sorry for keeping you waiting 🙇
Let's use explicitApiWarning!
The reason is if you create the plugin or extension for it, it will probably provide the same API, and there are no pros.

[2022-09-10 15:16] takahirom commented on #323
1. Sorry, I forgot the Preview functions. 😅 The function doesn't need to have a modifier parameter.
2. First optional parameter and before the content parameter is the best.
[code]

https://android.googlesource.com/platform/frameworks/support/+/androidx-main/compose/docs/compose-api-guidelines.md#elements-accept-and-respect-a-modifier-parameter

3. Can you do both of them? Please pass it to the ro

[2022-09-10 15:23] mikanIchinose commented on #323
Thank you for your reply.
I'll do them.

[2022-09-10 15:28] #180 closed

[2022-09-10 15:32] ho2ri2s commented on #178
I'm just trying this Issue, and let me ask you a question 🙇
What is the scope of what I need to create in this Issue?

1. create `feature-sponsor` module
2. definite navigation
3. think design myself and create screen with Compose(I think this is out of scope.)
4. add ViewModel, Repository, and so on with logic for display in Screen
6. fetch sponsors from specific endpoint and map to model from re

[2022-09-10 15:33] omooooori commented on #348
🙋

[2022-09-10 16:39] #355 closed

[2022-09-10 19:32] yukilabo opened #365 "Session speakers are not shown"
**Describe the bug**
Session speakers are not shown.

It looks like SessionDao is not storing session speakers in DB.
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-data/src/commonMain/kotlin/io/github/droidkaigi/confsched2022/data/sessions/SessionsDao.kt#L60-L62

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any session detail screen
2. Always speakers are not shown

[2022-09-11 01:21] Corvus400 commented on #365
I would like to do this task.

[2022-09-11 02:04] takahirom commented on #348
Thanks! Assigned!

[2022-09-11 02:13] takahirom commented on #365
Thanks as always 🙏

[2022-09-11 02:37] eneim commented on #354
Did a research and so far this is what I can achieve at the moment. Still too early and dirty but please take a look.

https://github.com/eneim/conference-app-2022/pull/1#issuecomment-1242852408 (Too lazy to fake a failed test, so I just pick the first screenshot and put it to the comment. Depending on what you want to do, we can include all failed screenshots in the comment, but I have not tried

[2022-09-11 04:55] att55 commented on #324
I'd like to try this task 🙋🏼

[2022-09-11 05:30] RyuNen344 commented on #324
Thanks! Assigned!

[2022-09-11 05:40] takahirom commented on #178
@ho2ri2s
Thank you for creating your breakdown of the issue.
Currently, we are creating the API. (by @RyuNen344 )

I think the response will be like this.

[code]

Yes, but it doesn't need to make a perfect screen. I think we can improve it.

[2022-09-11 06:24] takahirom commented on #354
Probably `asset.cml.dev/ ` will create the githubusercontent url, right?
The githubusercontent is public, but we all use it. So I think it is OK. But I don't know much about "asset.cml.dev".
But they have a privacy policy. So probably OK.
https://iterative.ai/security-and-privacy

[2022-09-11 07:33] #323 closed

[2022-09-11 07:50] surajsau commented on #155
You can unassign me from this task. I tried several approaches but wasn't able to come up with a proper solution. Would love to see someone else attempt this.
- Separate vertical scroll and horizontal scroll states.
  - share the vertical scroll state common with `Hours` and `ViewPager`
  - individual horizontal scroll states for each `ViewPager` page
- Custom `HorizontalPager` behvaior
  - All 3

[2022-09-11 07:51] surajsau commented on #346
I'll attempt it 🤚

[2022-09-11 07:54] d1-morimoto commented on #279
Thank you for your decision:bow:
I'd like to make a PR to add "```explicitApiWarning()```" to  core-xxx module's "build.gradle.ktx" soon.

[2022-09-11 08:13] takahirom commented on #259
@kittinunf I assigned this issue to you. Good luck! 👍

[2022-09-11 08:14] takahirom commented on #178
If you have any questions let me know 🙏

[2022-09-11 08:29] yaoandy107 commented on #327
I'd like to do this task 🙋

[2022-09-11 08:31] takahirom commented on #327
Thanks! I think this is fun issue! If you need any help let us know👍

[2022-09-11 09:04] #103 closed, assigned to kako351

[2022-09-11 09:25] ho2ri2s commented on #178
I will try to implementation by dividing PR.
Thank you for your answer 🚀

[2022-09-11 09:44] Hamachi-geek commented on #192
🙋

[2022-09-11 09:47] takahirom commented on #192
Thanks! Assigned 👍

[2022-09-11 09:55] takahirom commented on #346
Thanks! Assigned 👍

[2022-09-11 09:57] takahirom commented on #175
@l2hyunwoo I believe so 🎨

[2022-09-11 10:04] takahirom opened #368 "Align SessionItem to the line"
The app
<img width="51" alt="image" src="https://user-images.githubusercontent.com/1386930/189521861-a6173da2-739a-4ad9-80ba-0e958b4ab108.png">
Design
<img width="976" alt="image" src="https://user-images.githubusercontent.com/1386930/189521881-f06b638a-e733-4f61-8152-38c959c3f08f.png">

[2022-09-11 10:22] #190 closed

[2022-09-11 11:07] eneim commented on #354
Thanks, good found. I just found out about their custom image host too. Given the fact that there is no non-UI method to upload images to github's comment, I think automating this step will require the images to be hosted somewhere.

On one hand, it seems to be safe to borrow `assets.cml.dev` resource due to their policy. But on the other hand, the screenshot may include data shown in the applicat

[2022-09-11 12:16] t-yusaku commented on #155
@surajsau
First, thanks you so much for trying this issue and your contribution. I know it is challenging.
And thanks for sharing the approaches. This should help others. 👍

[2022-09-11 13:11] ochim commented on #368
🙋‍♀️ I try

[2022-09-11 13:12] t-yusaku commented on #368
Thanks! Assigned 👍

[2022-09-11 14:09] takahirom opened #372 "Apply textStyle by CompositionLocal for KaigiScaffold title"
**Idea Description**

     KaigiScaffold(
         topBar = {
             KaigiTopAppBar(
                 showNavigationIcon = showNavigationIcon,
                 onNavigationIconClick = onNavigationIconClick,
                 title = {
                     Text(
                         text = stringResource(id = R.string.setting_title),
                         style = MaterialTheme.typograph

[2022-09-11 14:22] takahirom opened #373 "Use round ripple to about icons"
**Idea Description**
I'd like to show it like a navigaton icon

**Reference images and links**
![Screenshot_20220911-231931.png](https://user-images.githubusercontent.com/1386930/189532486-f4bab9bc-0b92-4144-9962-9b2d109e143e.png)

[2022-09-11 14:35] takahirom opened #374 "Enable ProGuard"
**Idea Description**
Please build and run develop release. And fix crash by adding ProGuard rules.

**Reference images and links**

[2022-09-11 15:49] ochim commented on #368
OK?
![Screenshot_20220912_003826](https://user-images.githubusercontent.com/7196624/189536752-7d504095-ca55-4a95-b5cf-2dcffb6a7681.png)

[2022-09-11 16:16] ry-itto opened #378 "[iOS] Add Timetable List UI"
**Idea Description**

- Please create Timetable List UI
  - only preview is okey. (Toggle with sheet UI will be done by another PR!)
  - Implement this at `TimetableListView.swift` file and create `TimetableListItemView.swift` if needed.

**Reference images and links**
- https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=448%3A2009

<img width="254" alt="スクリーン

[2022-09-11 16:23] ry-itto opened #379 "[iOS] Reflect favorite session state to `TimetableItemView`"
**Idea Description**

- Please reflect favorite session state to `TimetableItemView` with filling room color.
  - Preview only is okey.

**Reference images and links**
Design
<img width="383" alt="スクリーンショット 2022-09-12 1 21 40" src="https://user-images.githubusercontent.com/30540303/189538234-0e325531-a4cc-462c-bfde-ce629062f371.png">

[2022-09-11 16:28] ry-itto opened #380 "[iOS] Create SessionDetail UI"
**Idea Description**

- Please implement SessionDetail UI to `SessionView`.
  - Preview only is okey.
  - Some actions from this view aren't included in this issue.

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=21%3A583
<img width="198" alt="スクリーンショット 2022-09-12 1 28 14" src="https://user-images.githubusercontent.com/305403

[2022-09-11 16:30] ry-itto opened #381 "[iOS] Create Contributors UI"
**Idea Description**

- Please implement Contributors UI to `ContributorView`.
  - Preview only is okey.
  - Reflect api response isn't included in this issue.

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=372%3A2616
<img width="225" alt="スクリーンショット 2022-09-12 1 30 39" src="https://user-images.githubusercontent.com/30540303/

[2022-09-11 16:34] ry-itto opened #382 "[iOS] Fix AboutView content padding"
**Idea Description**

- Currently, `AboutView` 's content paddings (for example, description padding) are not correct.
  - ~`What is DroidKaigi?` Label~
  - ~Description~
  - Tiles (Access, Staffs, Privacy Policy)

**Reference images and links**
Current|Expected
--|--
<img src="https://user-images.githubusercontent.com/30540303/189538853-6842a555-950f-4d01-b2d8-336199b6dc5a.png" width="300px">|<im

[2022-09-11 16:40] ry-itto opened #383 "[iOS] Remove unnecessary spacing in `TimetableView`"
**Idea Description**

- Currently, unnecessary spacing is showed in `TimetableView`. Please remove it.

**Reference images and links**

<img width="484" alt="スクリーンショット 2022-09-12 1 35 36" src="https://user-images.githubusercontent.com/30540303/189538994-b555d04e-ad45-4f74-80e1-8ece38652439.png">

[2022-09-11 19:17] RyuNen344 commented on #178
@ho2ri2s

sorry for late

you can check it at `https://ssot-api-staging.an.r.appspot.com/events/droidkaigi2022/sponsor`

[code]

If you have any questions let me know 🙏

[2022-09-11 19:44] RyuNen344 commented on #335
`interpretationTarget` filed starts to work

if `interpretationTarget` be true, session has interpretation.
so app can display `not` speakers language.

[2022-09-11 22:07] RyuNen344 opened #385 "Per-app language preferences backport to below sdk 32"
**Idea Description**

https://github.com/DroidKaigi/conference-app-2022/issues/192

per app language support was introduced above PR

android provides backport for Android 12 and lower
https://developer.android.com/guide/topics/resources/app-languages#android12-impl

### block
- [x] https://github.com/DroidKaigi/conference-app-2022/issues/192

[2022-09-11 23:21] #379 closed

[2022-09-12 00:56] surajsau commented on #380
I would like to attempt this 🤚 🙇‍♂️

[2022-09-12 01:07] sobaya-0141 commented on #380
Thanks! Assigned :+1:

[2022-09-12 01:37] takahirom commented on #368
I can see a little difference. Let me reopen this issue 🙏
current
<img width="218" alt="image" src="https://user-images.githubusercontent.com/1386930/189559484-e855d9ac-badd-4209-a339-6a439130181c.png">
design
<img width="155" alt="image" src="https://user-images.githubusercontent.com/1386930/189559492-edb17f9d-f822-45d2-9416-067ea0139271.png">

[2022-09-12 02:42] #279 closed

[2022-09-12 05:08] ochim commented on #368
Sorry,  I retry

[2022-09-12 05:10] ochim commented on #368
What is the width of the line ?
dynamic or static ?

[2022-09-12 05:22] takahirom commented on #368
Thanks! The line is 1dp.
https://github.com/DroidKaigi/conference-app-2022/blob/b94d518a14008073a99d27af54f63da856e1e6d5/feature-sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/Timetable.kt#L614
Your screenshot seems there is space with it 👀

[2022-09-12 05:41] iiinaiii commented on #373
I would like to try this issue 🙋

[2022-09-12 06:36] #347 closed

[2022-09-12 06:36] ochim commented on #368
![Screenshot_20220912_151915](https://user-images.githubusercontent.com/7196624/189588388-3ad39f6c-5475-4d65-8315-f416e5daa85f.png)
OK?

[2022-09-12 06:54] #192 closed

[2022-09-12 07:11] Corvus400 commented on #335
I would like to do this task.

[2022-09-12 08:59] RyuNen344 commented on #335
Thanks!!! assigned!!!!

[2022-09-12 09:52] tshion opened #391 "[Experiment] Partial support for Windows Subsystem for Android"
**Idea Description**

Microsoft has announced that the preview version of "Windows Subsystem for Android"(WSA) is now available in Japan!
I'm happy with the expansion of the Android ecosystem!

However, I wonder how practical this is, so I would like to try it with this issue.

**Points that may need to be fixed**

For the most part, everything seemed to be working fine.
However, I wonder below.

[2022-09-12 10:34] tarumzu commented on #372
I'd love to try this issue!

[2022-09-12 10:44] takahirom commented on #372
Thanks! Assigned!🙏

[2022-09-12 11:13] #310 closed

[2022-09-12 11:13] #301 closed

[2022-09-12 12:05] takahirom commented on #189
@att55 We want to add the "code of conduct" item to use this icon. Can you add it?
https://fonts.google.com/icons?icon.query=Directions+Walk

[2022-09-12 12:19] takahirom commented on #391
@tshion I assigned 👍 I hope we get along with Windows.

[2022-09-12 12:21] tshion commented on #391
I'll try!

[2022-09-12 13:23] takagisou commented on #383
I'll try it. 🙋‍♀️

[2022-09-12 13:28] takahirom commented on #383
Thanks! Assigned!

[2022-09-12 14:18] onakama commented on #382
I would like to challenge this.

[2022-09-12 14:22] RyuNen344 commented on #382
💪💪💪💪
assigned!!!

[2022-09-12 15:28] #372 closed

[2022-09-12 15:55] takahirom commented on #155
I think it has a tradeoff.
But, I'd like to share the scroll state because I want to see that!

[2022-09-12 16:14] nashcft commented on #385
🙋

[2022-09-12 16:18] RyuNen344 commented on #385
Thanks! Assigned!!

[2022-09-12 16:23] Pon57 commented on #155
I see. Thank you!
If I come up with something, I will request to have it assigned.

[2022-09-12 22:29] touyou commented on #378
🙋‍♂️

[2022-09-12 22:37] mhidaka commented on #378
@touyou Thanks 😄 We assigned!

[2022-09-12 23:00] takattata opened #400 "There is a typo in the Tech Stacks image regarding SessionRepository"
**Describe the bug**
`SessionRepository` in core-model, but in the image it is `SessionReposiotry`.
- https://github.com/DroidKaigi/conference-app-2022#tech-stacks
- https://github.com/DroidKaigi/conference-app-2022#create-a-test-with-high-fidelity-without-making-it-flaky

**To Reproduce**
Steps to reproduce the behavior:
1. Open README.md

**Expected behavior**
Be a SessionRepository

**Screensho

[2022-09-12 23:28] takahirom commented on #400
Thanks! Probably I should do it😅

[2022-09-12 23:45] hiesiea commented on #325
I'll try it!

[2022-09-13 00:10] sudachi808 commented on #381
i'll give it a try 🙋

[2022-09-13 01:02] takahirom commented on #325
Thanks! Assigned 👍

[2022-09-13 01:04] takahirom commented on #381
Thanks! Assigned 👍

[2022-09-13 01:05] takahirom commented on #373
@iiinaiii Sorry to keep you waiting. Thanks! Assigned 👍

[2022-09-13 01:09] takahirom commented on #155
@Pon57 Would you like me to assign this issue to you?

[2022-09-13 01:34] #383 closed

[2022-09-13 04:35] att55 commented on #189
@takahirom OK. I will add it for "code of conduct". How's the "privacy"?

[2022-09-13 05:26] eneim commented on #354
Ping @takahirom so it is Ok to use `cml` as-is?

[2022-09-13 05:32] ochim commented on #368
@takahirom please check

[2022-09-13 06:28] Pon57 commented on #155
@takahirom
I am not confident that I can solve it, but I would like to give it a try.
Please assign me!

[2022-09-13 07:10] takahirom commented on #368
Looks great 👍 Thanks!

[2022-09-13 07:27] takahirom commented on #354
Sorry for keeping you waiting.
I would like to introduce it in production application ideally. cml way can be controversial.

How about using a branch and remove when PR close?
https://github.com/DroidKaigi/conference-app-2022/raw/main/.idea/icon.png
![test](https://github.com/DroidKaigi/conference-app-2022/raw/main/.idea/icon.png)

[2022-09-13 07:42] #365 closed

[2022-09-13 08:36] #368 closed

[2022-09-13 08:38] takahirom opened #405 "Change KaigiTopAppBar color"
**Idea Description**
app
<img width="470" alt="image" src="https://user-images.githubusercontent.com/1386930/189853765-84a962d4-96d6-46c4-9cbd-b0fc4a12acd5.png">
design
<img width="242" alt="image" src="https://user-images.githubusercontent.com/1386930/189853968-9ec89af1-3494-4e67-81b2-09a8ffb49da2.png">

**Reference images and links**

[2022-09-13 08:46] takahirom opened #406 "Dynamic color Theme"
**Idea Description**
We would like to implement 4 points.

1. Create a dynamic color theme.
2. Create a "dynamic color theme" setting toggle (remove current unused settings)
3. Show the app in the current setting's theme.
4. Change default theme by day.

〜10/4 : Default: Current theme
10/5〜 : Default: Dynamic color theme

**Reference images and links**

[2022-09-13 08:50] takahirom opened #407 "Try Twitter Compose rule"
**Idea Description**
Our repository can be a playground for this 👍
This issue is just a trial, so it is possible that it may not make it to the merge into the main branch.

**Reference images and links**
https://github.com/twitter/compose-rules

[2022-09-13 09:35] Mori-Atsushi opened #408 "[edge-to-edge] Draw content behind the navigation bar"
**Idea Description**
It is recommended to draw content behind the navigation bar in Android 10 or later.
This allows content to be drawn from edge-to-edge of the screen, enhancing the immersive experience of the application.

**Reference images and links**
https://developer.android.com/develop/ui/views/layout/edge-to-edge

[2022-09-13 09:36] Mori-Atsushi commented on #408
I can tackle the first screen 🙋‍♂

[2022-09-13 09:39] itochan commented on #405
I want to try.
Please assign to me.

[2022-09-13 09:42] att55 commented on #189
@takahirom Sorry, please let me confirm one thing 🙏🏼
Is the position of "code of conduct" bottom (under "license") in about screen?
<img width="50%" alt="スクリーンショット 2022-09-13 18 41 10" src="https://user-images.githubusercontent.com/25548003/189868599-307ab68d-6531-4257-915c-b75d0a52b5c8.png">

[2022-09-13 10:12] takahirom opened #409 "Run "./gradlew composeLint" and fix errors"
**Idea Description**
The title says everything.
Errors are unused variables, etc. There are not that many.

**Reference images and links**

[2022-09-13 10:12] takahirom commented on #408
Thanks as always! Assigned 🙏

[2022-09-13 10:23] takahirom opened #410 "Open session detail from search screen"
**Idea Description**
Currently, we can't open it.

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/189877683-369f4899-3e94-4f8e-9c9f-ecd8b0f9242b.png)

[2022-09-13 10:25] takahirom opened #411 "Make search scrollable to the bottom of screen when keyboard is shown"
**Idea Description**

**Reference images and links**

![image](https://user-images.githubusercontent.com/1386930/189878166-5a4706c1-c630-4bed-ae84-b57c8e9ab843.png)

[2022-09-13 10:28] takahirom opened #413 "Toggle favorite when click favorite on search screen"
**Idea Description**
![image](https://user-images.githubusercontent.com/1386930/189878564-f944e323-e2a7-4c25-b96d-0ac34b3837a8.png)

**Reference images and links**

[2022-09-13 10:30] takahirom opened #415 "Show keyboard input when you open search screen"
**Idea Description**
The title says everything

**Reference images and links**
<img width="383" alt="image" src="https://user-images.githubusercontent.com/1386930/189879120-eefbe9dd-3f05-4536-aeaf-6f7ec997cf04.png">

[2022-09-13 10:43] att55 commented on #405
I'd like to do this 🙋🏼

[2022-09-13 10:44] takahirom commented on #407
Can we use detectRule?

https://github.com/DroidKaigi/conference-app-2022/blob/main/gradle/plugins/src/main/kotlin/io/github/droidkaigi/confsched2022/primitive/DetektPlugin.kt
We can check it by `./gradlew composeLint`

[2022-09-13 10:58] kawagh commented on #415
:raising_hand:

[2022-09-13 11:01] takahirom commented on #415
Thanks! Assigned 👍

[2022-09-13 11:06] takahirom commented on #405
Thanks! Assigned 👍

[2022-09-13 11:16] #325 closed

[2022-09-13 12:04] iwata-n commented on #409
✋

[2022-09-13 12:32] morayl commented on #410
🙋‍♀️

[2022-09-13 12:45] takahirom commented on #409
Thanks!

[2022-09-13 13:01] geckour commented on #413
🙋‍♂️

[2022-09-13 13:06] usuiat commented on #411
🙋I will try this.

[2022-09-13 13:41] Pon57 commented on #155
@t-yusaku @takahirom
Sorry for repeating myself. I'm asking because the problem to be solved in this issue was not clear to me.
Does this issue mean that Hours should be shared like this video?

https://user-images.githubusercontent.com/15137243/189916205-0a6f5a36-d3f7-4737-85af-3f9d5df26216.mp4

[2022-09-13 13:42] RyuNen344 commented on #413
Thanks!! Assigned!!

[2022-09-13 13:52] #405 closed

[2022-09-13 13:54] #415 closed

[2022-09-13 13:59] #324 closed

[2022-09-13 14:01] ry-itto opened #423 "[iOS] Incorrect navigation style in iPad"
**Idea Description**

- In iPad, tabView ui is incorrect.
- `navigationStyle(.stack)` may be useful

**Reference images and links**
Current appearance 1 | Current appearance 2
--|--
<img width="680" alt="スクリーンショット 2022-09-13 23 00 49" src="https://user-images.githubusercontent.com/30540303/189921442-dcb01331-449c-4e28-ba1e-e3645d55d1ab.png">|<img width="680" alt="スクリーンショット 2022-09-13 23 00 56" src

[2022-09-13 14:55] yamanetaisei commented on #423
I would like to try this.

[2022-09-13 14:56] ry-itto commented on #423
@yamanetaisei
Thanks! assigned 👍🏼

[2022-09-13 15:27] t-yusaku commented on #155
@Pon57
Thanks for asking. 👍

The most important thing in this issue is to separate `Hours` from `HorizontalPager`.
In the current timetable, `HorizontalPager` contains `Hours` and each page have its own `Hours`.
In this issue, we want to stop them and `Hours` exits outside of `HorizontalPager`.

The next important thing is to share the `Hours`'s position between the pages as you have shown.

It is

[2022-09-13 15:32] Pon57 commented on #155
@t-yusaku
Thanks for the reply! My question was completely answered by your reply.
I will try to work on it 🙏

[2022-09-13 16:26] #423 closed

[2022-09-13 16:41] ry-itto commented on #382
I'm sorry, I wrote some parts that didn't need to be fixed due to my misunderstanding 🙇🏼

Here's what needs fixing:
- Tiles (Access, Staffs, Privacy Policy)

[2022-09-13 16:43] ry-itto opened #427 "[iOS] Add app-version to `AboutView`"
**Idea Description**

- Add app-version to `AboutView`

**Reference images and links**
<img width="267" alt="スクリーンショット 2022-09-14 1 42 30" src="https://user-images.githubusercontent.com/30540303/189959162-3452af22-5ab4-42d4-8d22-7e0e28cf46f0.png">

[2022-09-13 16:47] ry-itto opened #428 "[iOS] Open DroidKaigi official information links"
**Idea Description**
- Please implement open link about DroidKaigi official information
  - Medium
  - YouTube
  - Twitter

**Reference images and links**
<img width="255" alt="スクリーンショット 2022-09-14 1 46 14" src="https://user-images.githubusercontent.com/30540303/189959805-115c6648-195a-4a88-947d-8f0f69e9383d.png">

[2022-09-13 16:50] ry-itto opened #429 "[iOS] Open License Page from `AboutView`"
**Idea Description**

- Implement license page ([LicensePlist](https://github.com/mono0926/LicensePlist) way is okey)
- Open license page from `AboutView`

**Reference images and links**

[2022-09-13 16:59] ry-itto opened #430 "[iOS] Create StaffView"
**Idea Description**

- Create StaffFeature target
- Create StaffView in StaffFeature target
  - UI only is okey 👍🏼
  - implement StaffView UI with ContributorView design once.

**Reference images and links**
<img width="268" alt="スクリーンショット 2022-09-14 1 59 48" src="https://user-images.githubusercontent.com/30540303/189962292-798c9b9f-a8a4-4f8c-8d3f-c9ed6dfb2907.png">

[2022-09-13 17:02] ry-itto opened #432 "[iOS] Add Online roomColor"
**Idea Description**

- Currently, roomColor for online session is missing. So please add online roomColor to `TimetableRoom.swift`

**Reference images and links**
<img width="390" alt="スクリーンショット 2022-09-14 2 02 19" src="https://user-images.githubusercontent.com/30540303/189962780-9665c2c3-1220-4bde-8bcc-866d821da1e3.png">

[2022-09-13 17:06] ry-itto opened #433 "[iOS] Shrink timetable day selection"
**Idea Description**

- In design, day selection items are shrunk when timetable scrolled.
- Please add interactive animation about that.

**Reference images and links**
<img width="730" alt="スクリーンショット 2022-09-14 2 06 23" src="https://user-images.githubusercontent.com/30540303/189963592-60d8c57d-94cf-465d-98c8-238e92379680.png">

[2022-09-13 17:09] ry-itto opened #434 "[iOS] Add SwiftLint `sorted_imports` rule"
**Idea Description**

- For unifying code styles, this is may be useful.

**Reference images and links**
- https://realm.github.io/SwiftLint/sorted_imports.html

[2022-09-13 22:32] Take111 commented on #432
I'd like to try this issue!

[2022-09-13 22:53] sobaya-0141 commented on #432
Thanks! Assigned :+1:

[2022-09-13 23:18] coffmark commented on #427
🙋‍♂️

[2022-09-13 23:36] #409 closed

[2022-09-13 23:38] #373 closed

[2022-09-14 00:08] sobaya-0141 commented on #427
Thanks! Assigned :+1:

[2022-09-14 00:26] kwmt commented on #407
I'm interested in the issue. Let me try!

[2022-09-14 00:26] sobaya-0141 commented on #407
Thanks! Assigned :+1:

[2022-09-14 00:31] hiraok opened #438 "'val Project.libs: LibrariesForLibs' can't be called in this context by implicit receiver. Use the explicit one if necessary"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-09-14 00:33] hiraok commented on #438
Sorry... I opened issue in the middle of writing. 😢

[2022-09-14 00:41] hiraok commented on #438
I gave you the issue. Please check it out! 🙇

[2022-09-14 00:44] mona-apk commented on #406
I'll try!

[2022-09-14 00:44] takahirom commented on #406
Thanks! Assigned 👍

[2022-09-14 00:53] takahirom commented on #438
Probably we should suppress the warning, right?
https://youtrack.jetbrains.com/issue/KTIJ-19369/False-positive-cant-be-called-in-this-context-by-implicit-receiver-with-plugins-in-Gradle-version-catalogs-as-a-TOML-file#focus=Comments-27-6204464.0-0

[2022-09-14 01:15] hiraok commented on #438
I agree with you! 👍

[2022-09-14 01:26] NakaokaRei commented on #434
I'd like to try this issue!

[2022-09-14 01:29] sobaya-0141 commented on #434
Thanks! Assigned :+1:

[2022-09-14 01:58] sudachi808 commented on #433
🙋

[2022-09-14 02:24] momomomo111 opened #442 "Authenticated even if NetworkService auth is false."
**Idea Description**
Even if I set the needAuth property of the get function of the NetworkService class to false, Authorization: Bearer ***** is still added as a header.

example:
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-data/src/commonMain/kotlin/io/github/droidkaigi/confsched2022/data/staff/StaffApi.kt#L16
**Reference images and links**
https://github.com/DroidKaigi/conf

[2022-09-14 03:28] takahirom opened #445 "Refine preview test"
**Idea Description**
The author of PR https://github.com/DroidKaigi/conference-app-2022/pull/97 is busy. So can you take over the PR?

We can do it by creating pr to `add_preview_test` branch

The remaining tasks

* Fix build
https://github.com/DroidKaigi/conference-app-2022/actions/runs/3049373353/jobs/4915373282
https://github.com/DroidKaigi/conference-app-2022/actions/runs/3049373357/jobs/49153

[2022-09-14 03:36] takahirom commented on #442
Currently, we don't have the API that doesn't need auth. So we can delete it and make it always true.
@RyuNen344
What do you think of it?

[2022-09-14 04:37] momomomo111 commented on #442
For example, future access to contributors from URLs such as the following will not work properly if there is an Authorization header.
https://api.github.com/repos/DroidKaigi/conference-app-2022/contributors

If the above case is not expected, I think true is always fine.

[2022-09-14 05:35] surajsau opened #447 "[Android] Room tag color doesn't match the room color"
**Describe the bug**
In `SessionDetails` the Room tag color doesn't match the corresponding room's color

**Expected behavior**
I think it would be better to set the correct room color as per [Figma](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=448%3A2009).

**Screenshots**
<table>
<tr>
<td>
<img width="300" alt="スクリーンショット 2022-09-14 14 31 23" src="https

[2022-09-14 06:09] NakaokaRei commented on #428
I'd like to try this issue!

[2022-09-14 07:03] RyuNen344 commented on #442
yes, you can.

API request from app that it should be cert check by firebase sdk for security.
so, we can delete it.

[2022-09-14 07:04] RyuNen344 commented on #442
could someone delete it? 😶‍🌫️

[2022-09-14 07:12] momomomo111 commented on #442
OK. Let me delete this as it is.🙋‍♂️

[2022-09-14 07:44] kafumi commented on #374
Could I take this issue? Also, I think I need to take #138 together.

[2022-09-14 08:31] takahirom commented on #447
Thanks!

[2022-09-14 08:41] #297 closed

[2022-09-14 08:48] takahirom commented on #442
Thanks! Assigned 👍

[2022-09-14 09:01] surajsau commented on #447
Closing issue since it is merged 👍

[2022-09-14 09:01] #447 closed

[2022-09-14 10:14] ry-itto commented on #433
@sudachi808
Thanks! Assigned 👍🏼

[2022-09-14 10:15] ry-itto commented on #428
@NakaokaRei
Thanks! Assigned 👍🏼
(Already created PR .. 👀 )

[2022-09-14 10:20] NakaokaRei commented on #428
@ry-itto
Sorry, I created PR before I was assigned🙇

[2022-09-14 10:21] ry-itto commented on #428
No problem! Great work 👍 :+1

[2022-09-14 10:42] #378 closed

[2022-09-14 11:12] kubode commented on #250
@takahirom I have a question.

My understanding is that it can be fixed by changing the timing of closing the `zipline` instance in the `SessionsZipline`. (Investigation issue: https://github.com/kubode/conference-app-2022/issues/3#issuecomment-1246601669)

We can verify this using a breakpoint, but not on the actual look and feel of the Android application.
Because `JsScheduleModifier` is trying

[2022-09-14 11:12] takahirom commented on #250
👀

[2022-09-14 11:17] takahirom commented on #250
@kubode Thanks! Probably I forgot to delete it when removing callbackFlow{}.
I think you can check it by seeing the log.
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-zipline/src/jsMain/kotlin/io/github/droidkaigi/confsched2022/zipline/JsScheduleModifier.kt#L16

[2022-09-14 11:18] #432 closed

[2022-09-14 11:20] takahirom commented on #250
If you want to modify the data. I think we can modify the lunch description 😄

[2022-09-14 11:29] kubode commented on #250
Thanks!
I know we can verify by checking `Hello JS world!` is logged.

OK, I will make that PR first for the verification of this issue.

[2022-09-14 11:53] #138 closed

[2022-09-14 11:57] #408 closed

[2022-09-14 12:25] coffmark commented on #430
✋

[2022-09-14 12:41] chigichan24 opened #458 "[edge-to-edge] Apply edge to edge into contributors page"
**Idea Description**
On the #408, just applied the edge to edge into the about page. But we should apply an edge to edge all other pages too.
In this issue, we focus on the contributors page.

**Reference images and links**
https://developer.android.com/develop/ui/views/layout/edge-to-edge
https://github.com/DroidKaigi/conference-app-2022/issues/408

[2022-09-14 12:41] chigichan24 commented on #458
I'll try to this issue~ 🙋‍♂️

[2022-09-14 12:43] RyuNen344 commented on #458
Thanks for your suggestion!!

assigned!!!

[2022-09-14 12:44] Mori-Atsushi opened #459 "[edge-to-edge] Apply edge to edge into SessionsScreen"
**Idea Description**
* I think SessionsScreen also prefers to render content behind the navigation bar.
* We also need to fix the issue that the navigation bar and buttons overlap in landscape.

portrait|landscape
:--:|:--:
![Screenshot_20220914_214302](https://user-images.githubusercontent.com/13435109/190156933-3c54c004-fdaf-4d09-8895-965f871721b0.png)|![Screenshot_20220914_214335](https://user-

[2022-09-14 12:46] takahirom commented on #459
Thanks!

[2022-09-14 13:51] Nthily commented on #261
@tatsuyafujisaki  Yes you can, but @takahirom seems to have used imgbot before, 🤔, BTW, I recommend using [this](https://squoosh.app) to optimize images

[2022-09-14 14:42] #189 closed

[2022-09-14 14:46] tatsuyafujisaki commented on #261
@Nthily Thank you. I will use Squoosh.
@takahirom Yes, please.:pray:

[2022-09-14 15:02] touyou commented on #429
🙋‍♂️

[2022-09-14 15:02] Mori-Atsushi opened #465 "[Layout] An unnecessary gap between the drawer and the content in landscape"
**Describe the bug**
* There will be an unnecessary gap between the drawer and the content as much as the width of the navigation bar.
* Occurs under the following conditions:
  * 3 buttons mode
  * A navigation bar appears on the left
  * large screen device (galaxy z flip3  etc.)

**Expected behavior**
Remove unnecessary gaps.

**Screenshots**
1|2
:--:|:--:
![Screenshot_20220914_235408](https://

[2022-09-14 15:22] RyuNen344 commented on #429
Thanks!! Assigned!! 💪💪💪💪

[2022-09-14 15:23] RyuNen344 commented on #430
Thanks!!! Assigned!!! 💪💪💪💪💪

[2022-09-14 15:47] RyuNen344 commented on #445
Thanks!!! Assigned!!

[2022-09-14 17:09] #427 closed

[2022-09-14 17:19] #434 closed

[2022-09-14 17:26] #428 closed

[2022-09-14 22:59] Mori-Atsushi commented on #465
Maybe i can fix it

[2022-09-14 22:59] takahirom commented on #465
It's looks natural. But It's padding is probably for navigation bar, right?
Good catch!

[2022-09-14 23:00] takahirom commented on #465
Thanks! Assigned!

[2022-09-15 01:35] aqua-ix commented on #445
I opened PR.

[2022-09-15 01:43] takahirom opened #469 "Highlight search text in search list"
**Idea Description**
Can we highlight the search word?

**Reference images and links**
<img width="288" alt="image" src="https://user-images.githubusercontent.com/1386930/190293623-cc34f792-3eb1-40c2-b6a6-3ac7470d24d0.png">

[2022-09-15 01:56] #459 closed

[2022-09-15 02:07] #445 closed

[2022-09-15 03:38] kitakkun commented on #469
I want to try it as my first contribution. ✋

[2022-09-15 03:45] ry-itto opened #470 "[iOS] Toggle TimetableSheetView and TimetableListView"
**Idea Description**

- Currently, TimetableView shows TimetableSheetView only. Please toggle those with button.

**Reference images and links**

![スクリーンショット 2022-09-15 12 44 26](https://user-images.githubusercontent.com/30540303/190309236-9e556114-436a-47cf-ae9d-0e8b5c971523.png)

[2022-09-15 03:52] takahirom commented on #469
Thanks! Assinged 👍

[2022-09-15 04:32] takahirom opened #473 "Build fail `multiplatform_strings.xml: Resource and asset merger: Duplicate resources` on Windows or Linux"
**Describe the bug**
The title says everything.

**To Reproduce**
On Windows or Linux

**Expected behavior**
You can build DroidKaigi app.

**Screenshots**
https://twitter.com/usuiat/status/1570250608724287488
![image](https://user-images.githubusercontent.com/1386930/190314246-d09cb1fc-04a4-4a75-82b6-7b4ebdc41c70.png)

[2022-09-15 05:05] takahirom commented on #473
It occurs in the test. Is this cache problem?

ERROR:[string/about_top_app_bar_title] /home/runner/work/conference-app-2022/conference-app-2022/core-model/build/generated/moko/androidMain/res/values/multiplatform_strings.xml [string/about_top_app_bar_title] /home/runner/work/conference-app-2022/conference-app-2022/core-model/build/generated/moko/androidMain/res/values/multiplatform_strings.xml: Re

[2022-09-15 05:13] takahirom commented on #473
There is not cache tasks 🤔
https://github.com/DroidKaigi/conference-app-2022/blob/main/.github/workflows/UpdateScreenshots.yml

[2022-09-15 05:23] Tomoya113 commented on #470
🤚

[2022-09-15 05:24] ry-itto commented on #470
@Tomoya113
Thanks! Assigned 👍🏼

[2022-09-15 05:31] takahirom commented on #473
I thought it is only a CI problem. But the contributors using windows can't build it.
Probably we should revert Moko-Resource for Windows users.

[2022-09-15 05:34] takahirom commented on #473
@kittinunf
I should apologize. I guess we should revert it to Windows users. What do you think of it?

[2022-09-15 05:37] rikuyu commented on #473
This also happens in my environment.

【My Environment】
・OS Windows
・Android Studio Electric Eel | 2022.1.1 Canary 10
・Gradle 7.5.1
・AGP 7.3.0-rc01

[2022-09-15 05:46] usuiat commented on #473
Thank you for creating an issue.
I also use Windows.

- Windows 11 Home
    - Version 21H2
    - OS Build 22000.856
- AMD Ryzen 7 5800H
- Android Studio Electric Eel 2022.1.1 Canary 10

[2022-09-15 06:41] usuiat commented on #473
I tried the following.

[code]

The result was same.

[code]

[2022-09-15 06:44] takahirom commented on #473
@usuiat Can you try the check-moko-resource branch?

[2022-09-15 06:45] takahirom commented on #473
https://github.com/DroidKaigi/conference-app-2022/pull/480/files

[2022-09-15 06:55] kittinunf commented on #473
Let me see what I can do for this.

[2022-09-15 07:00] usuiat commented on #473
@takahirom Build successful on the check-moko-resource branch.

[2022-09-15 07:43] #473 closed

[2022-09-15 07:44] takahirom commented on #473
@usuiat I merged that. Let me know if you need any help!

[2022-09-15 09:29] #465 closed

[2022-09-15 09:36] usuiat commented on #473
Thank you for the quick support! Now I can build the main branch.

[2022-09-15 11:23] takahirom opened #485 "Open floor map from session detail ▲"
**Idea Description**
Now It makes the app crash.
**Reference images and links**
<img width="148" alt="image" src="https://user-images.githubusercontent.com/1386930/190391510-95a1a424-d8ce-48cc-8c00-9f51c2534152.png">

[2022-09-15 11:26] takahirom opened #486 "Apply font to time and room on session list"
**Idea Description**
The title says everything

**Reference images and links**
<img width="599" alt="image" src="https://user-images.githubusercontent.com/1386930/190392012-f7430e94-569f-4ac0-a3f8-739b9c210dcf.png">

![image](https://user-images.githubusercontent.com/1386930/190391742-9b869ea9-c65c-4a2c-85bf-e865c0ab0e6d.png)
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Confer

[2022-09-15 11:36] att55 commented on #485
I'd like to try this issue. 🙋🏼

[2022-09-15 11:45] takahirom commented on #485
Thanks!

[2022-09-15 12:16] kittinunf commented on #259
iOS seems to be tricky with the current setup. Let me think a bit on how we proceed with this.

[2022-09-15 12:34] eneim commented on #354
@takahirom Got it. I can give it another try this weekend. At the mean time, if there is any promising approach, feel free to move ahead and let me know.

[2022-09-15 13:08] Corvus400 opened #488 "Speakers associated with session ID:364756 are not displayed"
**Describe the bug**
As the title says.

**To Reproduce**
1. find `マンガアプリのメモリ改善とメモリ解析方法` from the session
2. tap `マンガアプリのメモリ改善とメモリ解析方法`
3. check to see if the speaker appears
4. Speaker icons and names are not displayed.

**Expected behavior**
The icon and name of the speaker are displayed.

**Screenshots**
![Screenshot_20220915_220432](https://user-images.githubusercontent.com/13657682/190411805-

[2022-09-15 13:10] Corvus400 commented on #488
I will investigate this bug as I was in charge of the DB task.
#388

[2022-09-15 13:52] misuzz commented on #486
I'd like to try this issue. 🙋🏼

[2022-09-15 13:56] takahirom commented on #486
Thanks! Assigned!🙏

[2022-09-15 14:26] #413 closed

[2022-09-15 14:27] #411 closed

[2022-09-15 14:34] takahirom commented on #488
I didn't notice that. This must be problem. Great catch 🙏

[2022-09-15 16:13] tatsuyafujisaki commented on #438
🙋

[2022-09-15 22:37] takahirom opened #492 "Fix day tabs's font"
**Idea Description**

**Reference images and links**
app
![image](https://user-images.githubusercontent.com/1386930/190520552-c70ef9fe-6496-485e-ba30-e563039daafe.png)

design
<img width="932" alt="image" src="https://user-images.githubusercontent.com/1386930/190520620-e4d16cc2-92f8-4925-b44a-11ff1cc7d2b1.png">
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-i

[2022-09-15 22:39] takahirom opened #493 "Sticky time scroll in session list"
**Idea Description**
Can we scroll sticky?
I would like to scroll in session list not in timetable.

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190520803-c9e69ff1-5100-4110-97d0-66990a041e37.png)

https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-15 22:42] takahirom opened #494 "Fix session detail title font"
**Idea Description**

**Reference images and links**
app
![image](https://user-images.githubusercontent.com/1386930/190520988-7e9b4326-2ea2-45f0-9d72-84b8368a13ee.png)
design
<img width="720" alt="image" src="https://user-images.githubusercontent.com/1386930/190521240-c6b147e8-48a8-4930-89f0-91a876e4e67a.png">
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id

[2022-09-15 22:44] takahirom opened #495 "Add padding to session detail"
**Idea Description**
Please add padding 16dp here.

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190521342-882d65ce-ac71-4eef-9010-f0c6c25c37c9.png)

[2022-09-15 22:45] takahirom opened #496 "Delete unneeded space between day and list"
**Idea Description**
Please take a look at the image 🙏

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190521490-054d6c08-5afb-4d34-b98e-0f65302a9b66.png)

[2022-09-15 22:53] takahirom opened #497 "Separate CI workflow to post preview test comment"
**Idea Description**
Now, if you don't fork repository and create a pull request, you can see the diff of a screenshot.
https://github.com/DroidKaigi/conference-app-2022/pull/471#issuecomment-1247638122
<img width="757" alt="image" src="https://user-images.githubusercontent.com/1386930/190521947-7d26e551-5bba-4bee-94f9-bc5d567a1c7e.png">
But we are using `pull_request` hook that uses the forked re

[2022-09-15 22:58] takahirom commented on #112
@hiraok This issue has a blocking task. Can you do it?

[2022-09-15 22:59] takahirom commented on #438
Thanks! Assigned 👍

[2022-09-15 23:31] misuzz commented on #495
I'd like to try this one.

[2022-09-15 23:32] takahirom commented on #495
Thanks! Assigned 👍

[2022-09-15 23:59] tomorrowkey commented on #494
I'd like to fix 😉

[2022-09-16 00:02] sobaya-0141 commented on #494
Thanks! Assigned :+1:

[2022-09-16 00:26] #188 closed

[2022-09-16 00:51] YagiRyu commented on #493
I'd like to try this issue. 🖐

[2022-09-16 00:55] shxun6934 commented on #492
I'd like to try this issue. 🙋🏼

[2022-09-16 00:57] CAIOS0922 commented on #496
I'm working on fixing this bug ...

[2022-09-16 01:01] takahirom commented on #492
Thanks! Assinged

[2022-09-16 01:37] #458 closed

[2022-09-16 02:34] #494 closed

[2022-09-16 03:26] #496 closed

[2022-09-16 08:31] #407 closed

[2022-09-16 09:24] #381 closed

[2022-09-16 11:02] warahiko commented on #344
I would like to do this task 🙋
In my understanding, we should use variable text size (but it has minimum value) because if we keep default size the text will be omitted early.
Is that ok?

[2022-09-16 11:20] t-yusaku commented on #344
Yes, you're right.
Thank you for raising your hand! 👍

[2022-09-16 11:21] takahirom commented on #344
I thought we could calculate the minimum density for 8 sp in normal density. But is it difficult?

[2022-09-16 11:23] takahirom commented on #344
For example
density = maxOf((8sp / 14sp)  * density, density)

[2022-09-16 12:30] warahiko commented on #344
ah, I was wrong...
We should change the density parameter, not the text size, I see.
Yes, I think we can calculate a density that makes the text size of the title 8.sp.

[2022-09-16 12:52] #335 closed

[2022-09-16 12:55] #488 closed

[2022-09-16 13:06] takahirom opened #510 "Activate ContentEmitterReturningValues twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:08] takahirom opened #511 "Activate ModifierComposable twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
The title says everything.

**Reference images and links**
https://twitter.github.io/compose-rules/rules/
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml#L30-L31

[2022-09-16 13:13] takahirom opened #512 "Activate ModifierMissing twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
The title says everything.
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:14] takahirom opened #513 "Activate ModifierReused twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:14] takahirom opened #514 "Activate ModifierWithoutDefault twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:14] takahirom opened #515 "Activate MultipleEmitters twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:15] takahirom opened #516 "Activate MutableParams twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:15] takahirom opened #517 "Activate ComposableNaming twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:16] takahirom opened #518 "Activate ComposableParamOrder twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:16] takahirom opened #519 "Activate PreviewPublic twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:17] takahirom opened #520 "Activate RememberMissing twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:17] takahirom opened #521 "Activate ViewModelForwarding twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:17] takahirom opened #522 "Activate ViewModelInjection twitter/compose-rules and fix `./gradlew composeLint`"
**Idea Description**
You can activate it in https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
And please fix `./gradlew composeLint`.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/detekt.yml
https://twitter.github.io/compose-rules/rules/

[2022-09-16 13:24] takahirom commented on #510
Thanks! Assigned 👍

[2022-09-16 13:25] ry-itto opened #523 "[iOS] Add lint check on CI"
**Idea Description**

- Title says all. Please add SwiftLint violations check on CI. It's not needed to show PR comment with danger.

**Reference images and links**

[2022-09-16 13:28] nyafunta9858 commented on #522
I'd like to try! 🙋🏼

[2022-09-16 13:29] takahirom commented on #522
Thanks!!

[2022-09-16 14:17] shcahill commented on #518
I'd like to try this one. 🙋🏼

[2022-09-16 14:30] takahirom commented on #518
Thanks! Assigned!

[2022-09-16 14:41] Corvus400 opened #526 "Opening and closing the session details screen repeatedly causes the app to crash with an OOM error."
**Describe the bug**
I don't know how to deal with this yet without further investigation, but the titular phenomenon occurs.

**To Reproduce**
1. open the Session List screen
2. display the session details screen one by one and return to it
3. continue to do 2. although the operation becomes slower
4. finally, no more operations are accepted and OOM error occurs and the app crashes

**Expected be

[2022-09-16 14:43] Corvus400 commented on #526
I am concerned about the OOM error, but I am even more concerned about the screen being choppy every time I open the details screen, so I would like to investigate this on my end.
It looks like it would be difficult to fix, so maybe it would be a giveaway...

[2022-09-16 15:08] takahirom commented on #526
👀

[2022-09-16 15:08] #522 closed

[2022-09-16 15:09] #326 closed

[2022-09-16 21:18] iwaisako commented on #514
I'd like to try! 🙋🏼

[2022-09-16 21:22] yiwaisako commented on #514
I'd like to try! 🙋🏼

[2022-09-16 23:18] takahirom commented on #514
Thanks! Assigned!

[2022-09-16 23:45] hiraok commented on #112
@takahirom Sorry this is late..  I’ll take care of it 👍

[2022-09-17 02:04] #495 closed

[2022-09-17 02:22] takahirom commented on #526
This can be fixed by making the zipline singleton.
https://github.com/DroidKaigi/conference-app-2022/pull/505

[2022-09-17 02:25] #410 closed

[2022-09-17 03:13] takahirom opened #532 "Add KaigiTag Preview function"
**Idea Description**
I think it would be useful!

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/ad088a094d1bfd0f2d5b38e555b3b8316c1b2ff7/core-designsystem/src/androidMain/kotlin/io/github/droidkaigi/confsched2022/designsystem/components/KaigiTag.kt#L22

[2022-09-17 03:16] takahirom opened #533 "Add KaigiTopAppBar Preview Composable function"
**Idea Description**
Adding the Preview function will improve our development efficiency!

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-designsystem/src/androidMain/kotlin/io/github/droidkaigi/confsched2022/designsystem/components/KaigiTopAppBar.kt

[2022-09-17 04:30] misuzz commented on #532
May I try this one?

[2022-09-17 04:43] kwmt commented on #497
I'd like to try this 🙋🏻

[2022-09-17 04:46] nyafunta9858 commented on #519
🙋‍♂️

[2022-09-17 05:27] #519 closed

[2022-09-17 05:30] #510 closed

[2022-09-17 05:31] takahirom commented on #532
Thanks! Assigned 👍

[2022-09-17 05:49] takahirom opened #536 "Fix ExplicitApi in core-data"
**Idea Description**
Please add `public` if it is used in other classes, if not, please add private for all classes, property, and functions.
<img width="627" alt="image" src="https://user-images.githubusercontent.com/1386930/190842535-18e16484-34f4-4c96-a8c4-11ffa949e447.png">

**Reference images and links**
https://kotlinlang.org/docs/whatsnew14.html#explicit-api-mode-for-library-authors

[2022-09-17 06:17] engabesi commented on #533
🙋‍♂️

[2022-09-17 06:19] takahirom commented on #533
Thanks! Assigned 👍

[2022-09-17 07:20] takahirom commented on #124
@Kaito-Dogi How's it going?

[2022-09-17 07:31] #172 closed

[2022-09-17 07:51] #259 closed

[2022-09-17 07:52] #374 closed

[2022-09-17 08:06] takahirom opened #539 "Show message by the session"
**Idea Description**
There can be a session that is canceled.
We need to inform to attendees.
So Please add the text under the title when there is a `Session.message` field in Timetable and SessionList.
We need this feature by 9/23.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-model/src/commonMain/kotlin/io/github/droidkaigi/confsched2022/model/T

[2022-09-17 08:13] takahirom commented on #230
@risako070310 Are you OK? How's it going?

[2022-09-17 08:14] takahirom commented on #348
@omooooori Are you OK? How's it going?

[2022-09-17 08:36] mattukouta commented on #539
I want to try this issue. 🙋‍♂️

[2022-09-17 08:37] takahirom commented on #539
Thanks! Assigned  👍

[2022-09-17 08:57] #533 closed

[2022-09-17 09:01] Kaito-Dogi commented on #124
@takahirom
Sorry for the delay, got caught up in figuring out how to implement this, sorry!
I have submitted a pull request #542 , please check back.

[2022-09-17 09:51] risako070310 commented on #230
@takahirom I still try it now, but I didn't have much time to apply. I push my commitment until tomorrow :(

[2022-09-17 10:00] takahirom commented on #230
We can unassign you whenenever you want to give up. 👍 Please let us know if you want to.

[2022-09-17 10:15] #382 closed

[2022-09-17 10:15] #433 closed

[2022-09-17 10:41] h6ah4i commented on #511
:raising_hand_man: There is no code that violates this lint rule for now, so I'll create a PR just to activate this.

[2022-09-17 10:49] takahirom commented on #511
It's ok!
Lont time no see!

[2022-09-17 10:58] h6ah4i commented on #511
Yeah, it's been so long :smiley:
Here's the PR #544

[2022-09-17 11:02] h6ah4i commented on #512
I'll take this issue :raising_hand_man:

[2022-09-17 11:10] takahirom commented on #512
Thanks!

[2022-09-17 11:11] #511 closed

[2022-09-17 11:30] h6ah4i commented on #512
ref.) [Chris Banes - Always provide a Modifier parameter](https://chris.banes.dev/always-provide-a-modifier/)

[2022-09-17 11:44] #492 closed

[2022-09-17 12:10] kumokumot commented on #536
🙋

[2022-09-17 12:21] maxfie1d commented on #520
🙋‍♂️

[2022-09-17 12:25] takahirom commented on #536
Thanks! Assigned!

[2022-09-17 12:25] takahirom commented on #520
Thanks! Assigned.

[2022-09-17 14:22] sudachi808 opened #547 "[iOS] Cache Contributors Image"
**Idea Description**
- Title says all.
- AsyncImage does not support caching, It should be considered to use some component that supports caching (e.g. Nuke, Kingfisher and more).

**Reference images and links**

[2022-09-17 14:33] ry-itto commented on #547
Good catch!
I'll apply `welcome contribute` label for this issue 👍🏼

[2022-09-17 14:48] #486 closed

[2022-09-17 14:53] #512 closed

[2022-09-17 16:02] #429 closed

[2022-09-17 16:20] nyafunta9858 opened #551 "Hide the keyboard when the Drawer menu is expanding."
**Idea Description**
We can expand the Drawer menu even though it shows the software keyboard.
But I think this state is not good whether to input the keyboard or select a menu item from the Drawer menu.

So I suggest you hide the software keyboard when the Drawer menu opens.

**Reference images and links**

<img src=https://user-images.githubusercontent.com/5121183/190866384-882ded04-800e-422c-9a

[2022-09-17 18:32] Tounyu commented on #513
I'd like to try this issue. 🙋‍♂

[2022-09-17 23:25] takahirom commented on #513
Thanks! Assigned

[2022-09-17 23:29] #514 closed

[2022-09-18 02:49] takahirom commented on #551
Good catch!

[2022-09-18 02:56] nyafunta9858 commented on #551
Thanks!
And I'd like to try this🙋‍♂️

[2022-09-18 02:58] ry-itto opened #555 "[iOS] Apply MapView design"
**Idea Description**

- Apply MapView design

**Reference images and links**

<img width="176" alt="スクリーンショット 2022-09-19 12 51 57" src="https://user-images.githubusercontent.com/30540303/190947137-2488d1fe-e138-41b5-9647-adb0b4b1ae9d.png">

[2022-09-18 02:59] ry-itto opened #556 "[iOS] Apply NotificationView design"
**Idea Description**

- Apply NotificationView design

**Reference images and links**
<img width="182" alt="スクリーンショット 2022-09-19 12 51 30" src="https://user-images.githubusercontent.com/30540303/190947077-eeaa4b8f-f0b0-4359-9bdc-b7bb328f845b.png">

[2022-09-18 03:04] ry-itto opened #557 "[iOS] Open access page from AboutPage"
**Idea Description**

- Title says all
- Open map url is also okey.

**Reference images and links**
- no design of access page is available
- map url: `https://goo.gl/maps/NnqJr2zUVdrAJseH7`

[2022-09-18 03:05] ry-itto opened #558 "[iOS] Apply SponsorView design"
**Idea Description**

- Title says all

**Reference images and links**
<img width="184" alt="スクリーンショット 2022-09-19 12 50 38" src="https://user-images.githubusercontent.com/30540303/190947008-fb7962ad-3cda-4812-9816-d8021090a144.png">

[2022-09-18 03:38] takahirom commented on #551
Thanks!

[2022-09-18 03:42] #536 closed

[2022-09-18 03:51] ry-itto opened #559 "[iOS] Stop supporting iOS 15and use Xcode 14.x"
**Idea Description**

- Use Xcode 14 in CI
- Migrate codes with Swift 5.7 and iOS 16 codes

**Reference images and links**

[2022-09-18 04:07] ry-itto opened #560 "[iOS] Open PrivacyPolicy URL Link from `AboutView`"
**Idea Description**

- Please implement opening privacy-policy URL from `AboutView`

**Reference images and links**

PrivacyPlicy URL: `https://portal.droidkaigi.jp/about/privacy`

[2022-09-18 05:27] onakama commented on #560
I try it.🙋‍♀️

[2022-09-18 05:43] ry-itto commented on #560
@onakama
Thanks! Assigned 👍🏼

[2022-09-18 06:30] moto2011 commented on #515
🙋‍♂️

[2022-09-18 06:50] tatsuyafujisaki commented on #517
🙋‍♂️

[2022-09-18 06:58] tatsuyafujisaki commented on #516
🙋‍♂️

[2022-09-18 07:01] takahirom commented on #515
Thanks!

[2022-09-18 07:02] takahirom commented on #517
Thanks!

[2022-09-18 07:02] takahirom commented on #516
Thanks again!

[2022-09-18 07:28] tatsuyafujisaki commented on #521
🙋‍♂️

[2022-09-18 07:33] takahirom commented on #521
Assigned  👍

[2022-09-18 07:37] takahirom opened #565 "Apply id("droidkaigi.primitive.detekt") to core-designsystem and fix `./gradlew composeLint`"
**Idea Description**
Please add the plugin here and fix the lint errors by `./gradlew composeLint`.
https://github.com/DroidKaigi/conference-app-2022/blob/96681626f9385f0e9f1a15cbbb2a9d07610cfb92/core-designsystem/build.gradle.kts#L4

**Reference images and links**

[2022-09-18 07:41] takahirom opened #566 "Use explicitApi() instead of explicitApiWarning() in core-model and fix build."
**Idea Description**
If you use explicitApi(), it will cause errors. So please use public to classes, functions, and properties if it is used by other classes. Otherwise, please use private signature.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/main/core-model/build.gradle.kts#L11

[2022-09-18 12:32] #518 closed

[2022-09-18 12:33] #515 closed

[2022-09-18 12:33] #517 closed

[2022-09-18 12:51] #521 closed

[2022-09-18 12:51] #516 closed

[2022-09-18 14:31] fummicc1 commented on #547
Can I try this issue?🙋‍♂️

[2022-09-18 14:34] takahirom opened #582 "iOS CI Build fail on pull request"
**Idea Description**

https://github.com/DroidKaigi/conference-app-2022/actions/runs/3077179403/jobs/4971999315

**Reference images and links**

[2022-09-18 15:14] takahirom opened #588 "Apply search item design"
**Idea Description**
I think we can use the session list item.

**Reference images and links**
<img width="219" alt="image" src="https://user-images.githubusercontent.com/1386930/190914353-5953418f-7e6f-460b-955f-32134596535e.png">
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-18 15:16] takahirom commented on #173
I will divide the issue

[2022-09-18 15:16] #173 closed

[2022-09-18 15:17] fummicc1 opened #589 "[iOS] Remove redundant import in Model library"
**Idea Description**

In Model library, there are many code`import appioscombined`, but it is not necessary because of `@_exported import appioscombined` written in `Model.swift` (see [here](https://github.com/DroidKaigi/conference-app-2022/blob/main/app-ios/Sources/Model/Model.swift)).

That's why I propose that removing all of `import appioscombined` code from Model library to make program simpl

[2022-09-18 15:26] #250 closed

[2022-09-18 15:47] tarumzu commented on #566
I'd like to take over this issue

[2022-09-18 16:15] Corvus400 commented on #526
I checked again for OOM errors after #505 was merged.
It takes longer than before for the OOM error to occur, but it still seems to occur.
I don't know if this can be resolved, but I would still like to investigate this issue.

![スクリーンショット 2022-09-19 1 10 55](https://user-images.githubusercontent.com/13657682/190917102-3369e8a1-63f0-47a1-8cb4-97aa5fdbfb4c.png)
![スクリーンショット 2022-09-19 1 11 10](https

[2022-09-18 16:20] Corvus400 commented on #588
I would like to work on this task.

[2022-09-19 00:10] takahirom commented on #588
Thanks as always!

[2022-09-19 00:54] #124 closed

[2022-09-19 01:38] Corvus400 commented on #588
@takahirom
Please allow me to confirm my concerns.
Is the corresponding range for this task red or blue?
![スクリーンショット 2022-09-19 10 35](https://user-images.githubusercontent.com/13657682/190937713-a6d6a9d6-b7be-45ee-9344-107958c0f975.png)

[2022-09-19 01:39] takahirom commented on #588
@Corvus400 Yes. Currently, I'm arranging the issues.

[2022-09-19 01:50] takahirom opened #594 "Apply search text field design"
**Idea Description**
The title says everything.

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190938392-1f67c3b0-2b5b-4ff8-bedc-745c88bb8f80.png)
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-19 01:57] takahirom opened #595 "Add search Filter"
**Idea Description**
Add search Filters

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190938759-86a0aa8f-01bc-487a-8b9d-39a1ae6741c0.png)
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-19 02:02] takahirom opened #596 "Apply search day header design"
**Idea Description**
The title says all.

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1
![image](https://user-images.githubusercontent.com/1386930/190938920-daa7c8e0-4d84-4175-8901-d98f67fa9b43.png)

[2022-09-19 02:06] takahirom opened #597 "Add empty search screen function when no exists results"
**Idea Description**
The title says everything 🙏

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1
![image](https://user-images.githubusercontent.com/1386930/190939295-f20953bd-66b3-4648-a34c-b03d1aa9d224.png)

[2022-09-19 02:09] takahirom opened #598 "Add timetable item padding"
**Idea Description**
We have aligned the items to the line, but it seems a little tight. So we will add padding for it.
https://github.com/DroidKaigi/conference-app-2022/issues/368

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190939496-c724e2d5-3ec0-43fb-964e-a65aca978da8.png)

[2022-09-19 02:10] #582 closed

[2022-09-19 02:13] takahirom commented on #539
@mattukouta
The design is changed. I will create another issue for the session detail. But would you apply this design to the session list and timetable?
![image](https://user-images.githubusercontent.com/1386930/190939660-b45b8171-486c-49d8-9452-7d017dd1e628.png)

[2022-09-19 02:19] takahirom opened #600 "Add search category filter and day filter bottom sheet"
**Idea Description**
Please add it. 🙏

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1
![image](https://user-images.githubusercontent.com/1386930/190940123-6625ffc8-580a-425b-b5ea-f77aa9db17b5.png)

[2022-09-19 02:22] takahirom commented on #175
The design is added!
<img width="217" alt="image" src="https://user-images.githubusercontent.com/1386930/190940343-7316eed4-2782-4491-aca2-d7d60491744c.png">

[2022-09-19 02:28] takahirom opened #601 "Add session detail message"
**Idea Description**
There can be a session that is canceled.
We need to inform to attendees.
So Please add the text under the title when there is a Session.message field.
We need this feature by 9/23.

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/190940760-d6a0df94-bf47-407b-9e7e-f40e542964c9.png)
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/Droid

[2022-09-19 02:30] takahirom commented on #566
Thanks! Assigned 👍

[2022-09-19 02:30] takahirom commented on #547
Thanks! Assinged 👍

[2022-09-19 02:31] Corvus400 commented on #601
I would like to get started on this task.

[2022-09-19 02:34] takahirom commented on #601
Thanks! Assigned! You are so reliable 😄

[2022-09-19 02:42] nyafunta9858 commented on #597
I'd like to try! 🙋‍♂️

[2022-09-19 02:43] takahirom commented on #597
Thanks! Assigned 👍

[2022-09-19 02:44] CookieySun commented on #598
🙋‍♂️

[2022-09-19 02:55] takahirom commented on #598
Thanks! Assigned 👍

[2022-09-19 03:00] #588 closed

[2022-09-19 03:15] shxun6934 commented on #594
I will try this issue.🙋‍♂️

[2022-09-19 03:37] ry-itto opened #602 "[iOS] Add session detail message"
**Idea Description**

- https://github.com/DroidKaigi/conference-app-2022/issues/601 for iOS

**Reference images and links**
- https://github.com/DroidKaigi/conference-app-2022/issues/601

[2022-09-19 03:41] ry-itto commented on #470
@Tomoya113
In https://github.com/DroidKaigi/conference-app-2022/pull/561, a contributor have done this issue. So I close this issue 🙏🏼
Looking forward to other contributions!

[2022-09-19 03:41] #470 closed

[2022-09-19 03:50] ry-itto commented on #589
Good catch! I'll add `welcome contribute` label and wait for contributors 👍🏼

[2022-09-19 03:54] ry-itto opened #604 "[iOS] Apply SearchView Cell design"
**Idea Description**

- Currently, SearchView's cell doesn't show session time and cancellation label. Please show session time and that label.

**Reference images and links**

<img width="167" alt="スクリーンショット 2022-09-19 12 55 48" src="https://user-images.githubusercontent.com/30540303/190947445-d223b6a9-8d9d-4442-b324-315878640947.png">

[2022-09-19 03:59] ry-itto opened #605 "[iOS] Add Search Selection to SearchView"
**Idea Description**

- Please add selections to SearchView.
- In iOS, these components and bottom sheet implementations are a little difficult. So you can implement with `Menu` or suitable one 👍🏼

**Reference images and links**
<img width="176" alt="スクリーンショット 2022-09-19 12 57 03" src="https://user-images.githubusercontent.com/30540303/190947559-ba6cbea7-7558-4444-b1af-c381ee2e520f.png">

[2022-09-19 04:01] ry-itto opened #606 "[iOS] Highlight `searchText` match part in SearchView's cell"
**Idea Description**

- The new design should highlight the parts that match the search string. Please implement that.

**Reference images and links**
<img width="178" alt="スクリーンショット 2022-09-19 13 00 17" src="https://user-images.githubusercontent.com/30540303/190947711-27ccb6ce-6f83-43ef-bc65-bd474fd537cd.png">

[2022-09-19 04:01] gibachan commented on #523
I would like to try this issue!

[2022-09-19 04:02] ry-itto opened #607 "[iOS] Add empty view for search result"
**Idea Description**

- Please add empty view for search result.

**Reference images and links**
<img width="181" alt="スクリーンショット 2022-09-19 13 02 02" src="https://user-images.githubusercontent.com/30540303/190947996-aec8c87b-12bf-4682-bdd7-08fa0dea7398.png">

[2022-09-19 04:04] ry-itto commented on #523
@gibachan
Thanks! Assigned 👍 :+1

[2022-09-19 04:06] usuiat opened #608 "Make Hours and Rooms scrollable"
**Idea Description**
It would be nice if Hours composable and Rooms composable were scrollable.

- Hours composable should be able to scroll vertically.
- Rooms composable should be able to scroll horizontally.

**Reference images and links**
<img src="https://user-images.githubusercontent.com/17829294/190940129-2a9b37a1-4fc7-44ee-aa3f-07f58b260e15.png" width="300px">

[2022-09-19 04:44] mattukouta commented on #539
@takahirom
I see. I will try to create it based on the design.

[2022-09-19 04:47] woxtu commented on #470
@Tomoya113 Sorry, I missed this issue.

[2022-09-19 05:02] #566 closed

[2022-09-19 05:49] takahirom commented on #608
I think It's a great idea!👍

[2022-09-19 06:09] Tech-Nayuta commented on #602
I'll take on this issue.

[2022-09-19 06:23] surajsau commented on #600
I would like to try 🙋‍♂️

[2022-09-19 06:25] #178 closed

[2022-09-19 06:28] #513 closed

[2022-09-19 06:46] fummicc1 commented on #547
I created PR which is mentioned above !
In this PR, I applied NetworkImage which has cache feature to not only Contributors but also SessionSpeaker etc, so if you don't mind, please update issue title to `[iOS] Cache Image`🙏

[2022-09-19 07:05] takahirom commented on #600
Thanks! Assigned 👍

[2022-09-19 07:25] Tomoya113 commented on #470
@woxtu No problem!

[2022-09-19 07:49] kubode commented on #177
✋

I have a few questions.

- Is this URL the correct screen design for the floor map?

    https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=1977%3A2763
    <img src="https://user-images.githubusercontent.com/5885032/190970416-7cffd6dc-583b-437a-8f78-799a3e97f2fb.png" width="240" />

- Does an API exist? Does it display an image of the asset? Or does it disp

[2022-09-19 07:56] shxun6934 commented on #596
I will try this issue. 🙋‍♂️

[2022-09-19 07:57] takahirom commented on #177
The floor map image is decided.
I didn't notice the pin icon. I'll talk with the designer about it👀 .

[2022-09-19 07:58] takahirom commented on #596
Thanks! Assigned 👍

[2022-09-19 08:06] surajsau commented on #595
Since this related UI and functionality wise with https://github.com/DroidKaigi/conference-app-2022/issues/600 . Can I combine get assigned to this too and proceed with implementing the both in a single task ?

[2022-09-19 08:33] takahirom commented on #595
I think it will make it smoother! Thanks!

[2022-09-19 09:21] takahirom commented on #177
The pin icon is for zooming out to see the overview image. This image can be zoomed by pinching.
I think if you do this issue, you don't have to implement the icon first.

[2022-09-19 10:40] sudachi808 commented on #602
🙋

[2022-09-19 11:38] YagiRyu commented on #493
Sorry...
I give up this issue.🥲

[2022-09-19 11:56] eneim commented on #354
@takahirom https://github.com/eneim/conference-app-2022/pull/1#issuecomment-1250920037 FYI, it can be overwhelming if the number of images are big. But I kinda make it works without cml. Will prepare a PR with more details.

[2022-09-19 12:00] sudachi808 commented on #602
🙇

[2022-09-19 12:00] takahirom commented on #354
@eneim Great! I think we can filter later if there are the same composable function preview images. I'm really looking forward to seeing it!

[2022-09-19 12:01] sudachi808 commented on #558
🙋

[2022-09-19 12:02] ry-itto commented on #558
@sudachi808
Thanks! Assigned 👍🏼

[2022-09-19 12:04] takahirom commented on #493
@YagiRyu
Don't worry. Nice try! Thank you for your efforts!

[2022-09-19 12:31] eneim commented on #354
@takahirom https://github.com/DroidKaigi/conference-app-2022/pull/616

The current idea is quite similar to your comment above, except that it uses the repository's github page (`https://droidkaigi.github.io/conference-app-2022/`, when enabled). It seems that images served by that domain will be easier to work with.

I may need your help to configure the `DroidKaigi/conference-app-2022` repository

[2022-09-19 12:32] fummicc1 commented on #556
🙋‍♂️

[2022-09-19 13:35] eneim commented on #526
One interesting observation: Using `lambda` in the click callbacks may result in more and more allocations in the memory when you go back and forth.

For example: `DrawerSheetContent.onClickDrawerItem` using lambda will allocate new _objects_ everytime you click a Session to open its detail, and go back. Below is the memory dump between 0 click and 10 clicks (open the Session and go back):

| App

[2022-09-19 13:55] #551 closed

[2022-09-19 13:58] #601 closed

[2022-09-19 14:01] #523 closed

[2022-09-19 14:01] #547 closed

[2022-09-19 14:02] higekick commented on #565
🙋🏻‍♂️ Can I take this ?

[2022-09-19 14:12] takahirom commented on #565
Thanks! Assigned🙏

[2022-09-19 14:17] #532 closed

[2022-09-19 15:10] NakaokaRei commented on #607
I'd like to try this issue!

[2022-09-19 16:19] risako070310 commented on #230
@takahirom I'm very sorry for the delay.
I created the pull request #621 , could you please confirm this for me?

[2022-09-19 16:20] HikaruSato commented on #606
I'd like to try this issue. 🖐

[2022-09-19 16:24] betat commented on #557
I'd like to try this issue. 🙋

[2022-09-19 16:35] ry-itto commented on #606
@HikaruSato
Thanks! Assigned 👍

[2022-09-19 17:02] HikaruSato commented on #606
I made a PR🙏

[2022-09-19 17:14] yamanetaisei commented on #604
I'd like to try this issue. 🖐

[2022-09-19 17:35] ry-itto commented on #604
@yamanetaisei
Thanks! Assigned 👍

[2022-09-19 17:37] ry-itto commented on #557
@betat
thanks! Assigned👍

[2022-09-19 17:39] ry-itto commented on #556
I'm sorry. I missed🙇‍♂️

@fummicc1
Assigned!

[2022-09-19 23:37] takahirom commented on #175
There is a Screen root composable. But there isn't ViewModel and repository
https://github.com/DroidKaigi/conference-app-2022/blob/main/feature/announcement/src/main/java/io/github/droidkaigi/confsched2022/feature/announcement/Announcement.kt

[2022-09-19 23:56] takahirom commented on #175
This is the API and sample response.

https://ssot-api-staging.an.r.appspot.com/announcements/japanese

[code]

[2022-09-20 00:09] takahirom commented on #166
@l2hyunwoo Are you OK?

[2022-09-20 00:09] takahirom commented on #485
@att55 Are you OK?

[2022-09-20 00:15] takahirom opened #625 "Add license screen"
**Idea Description**
We can add it in about module.
And please open it.

**Reference images and links**
https://developers.google.com/android/guides/opensource

[2022-09-20 00:19] takahirom commented on #175
You can refer to other screens' implementations.
https://github.com/DroidKaigi/conference-app-2022/pull/331

[2022-09-20 00:54] Corvus400 commented on #175
I would like to start on this task.

[2022-09-20 01:00] #565 closed

[2022-09-20 02:17] Corvus400 commented on #175
@takahirom
I have a question.🙋‍♂️
If I apply the API response and my understanding, it looks like the image.
How do you expect to use `deletedAt` and `Language`?
![スクリーンショット 2022-09-20 11 07](https://user-images.githubusercontent.com/13657682/191152601-4deaca2c-bc15-40a8-a531-4b75a1fbb9dc.png)

[2022-09-20 02:22] takahirom commented on #175
Thank you for your detailed image! I think you don't have to use it.
The fields are for the server side.
You can access by language, so there it is. But I think we don't have to use it.
And if there is deleteAt field, Please filter it in API or repository it is not for the client.
https://ssot-api-staging.an.r.appspot.com/announcements/japanese
https://ssot-api-staging.an.r.appspot.com/announcemen

[2022-09-20 02:58] #602 closed

[2022-09-20 03:52] Tomoya113 commented on #605
🤚

[2022-09-20 04:07] ry-itto commented on #605
@Tomoya113
Thanks! Assigned 👍🏼

[2022-09-20 04:38] mitohato14 commented on #594
Thanks! Assigned :+1:

[2022-09-20 06:13] RyuNen344 commented on #175
@takahirom @Corvus400

sorry for late 🙏
announcement end points returns json like this👇

[code]

so, client doen't filter item by `deletedAt`

[2022-09-20 06:44] yuuhanasaki39 commented on #625
I'd like to try!  ✋

[2022-09-20 06:45] ryu38 commented on #493
I'd like to try it! 🙋

[2022-09-20 06:46] mhidaka commented on #625
@yuuhanasaki39 Thanks, please go ahead

[2022-09-20 06:47] takahirom commented on #493
Thanks! Assigned 👍

[2022-09-20 07:20] Corvus400 commented on #175
@takahirom
Just to confirm, there is no need to store data in the DB, right?
I assume the same is true for contributors and sponsors since they are not stored in the DB.

[2022-09-20 08:57] #606 closed

[2022-09-20 09:27] NakaokaRei commented on #589
🙋

[2022-09-20 11:28] fummicc1 commented on #556
Hello! I found that `Announcement` which has same meaning as `Notification` for iOS is used within Android, so let me change its module name from NotificationFeature to AnnouncementFeature. How do you think of it?🙏

- Kotlin Implementation
https://github.com/DroidKaigi/conference-app-2022/pull/631

[2022-09-20 11:46] ry-itto commented on #556
👀
you're right!
Please change that!

[2022-09-20 12:25] #230 closed

[2022-09-20 12:27] #608 closed

[2022-09-20 12:28] #594 closed

[2022-09-20 13:18] HikaruSato commented on #555
I'd like to try this issue. 🖐

[2022-09-20 13:38] ry-itto commented on #555
@HikaruSato
Thanks! Assigned👍

[2022-09-20 13:39] ry-itto commented on #555
Yes!

[2022-09-20 15:13] #607 closed

[2022-09-20 15:14] #380 closed

[2022-09-21 00:42] takahirom commented on #175
@Corvus400 I think there is no need too!

[2022-09-21 01:23] eneim commented on #526
FYI there is a issue tracking this https://issuetracker.google.com/issues/229645237 and another good article mentioned in the ticket. If no one take this issue, I can spend sometime for it this ３連休 :D.

[2022-09-21 01:38] hiraok commented on #137
✋

[2022-09-21 05:26] #430 closed

[2022-09-21 05:26] takahirom commented on #137
Thanks! Assigned 👍

[2022-09-21 05:45] #589 closed

[2022-09-21 05:47] #555 closed

[2022-09-21 07:37] #558 closed

[2022-09-21 09:02] ry-itto opened #643 "[iOS] SponsorView scroll is stuttering when images are loading"
**Idea Description**

- Currently, SponsorView scroll is stuttering. Please fix that 🙏🏼

**Reference images and links**

https://user-images.githubusercontent.com/30540303/191462072-dd5dd552-c58b-45e9-83a6-05e8fc377d12.mp4

[2022-09-21 09:26] HikaruSato commented on #643
I want to challenge🙋‍♂️

[2022-09-21 09:27] ry-itto commented on #643
@HikaruSato
Thanks! Assigned 👍🏼

[2022-09-21 10:53] #354 closed

[2022-09-21 12:30] ry-itto opened #648 "[iOS] Add Loading for TimetableView"
**Idea Description**

- Title says all.
- Currently, empty TimetableView is shown in loading state.

**Reference images and links**

[2022-09-21 12:32] #598 closed

[2022-09-21 12:35] NakaokaRei commented on #648
🙋

[2022-09-21 13:01] #175 closed

[2022-09-21 13:34] takahirom opened #649 "Fix stickyHeader of AnnouncementContentList"
**Idea Description**

It seems like it is not working. 👀

**Reference images and links**

https://github.com/DroidKaigi/conference-app-2022/blob/main/feature/announcement/src/main/java/io/github/droidkaigi/confsched2022/feature/announcement/Announcements.kt#L120

[2022-09-21 13:40] takahirom opened #650 "Add GitHub Action to delete old `companion_` branch"
**Idea Description**

The `companion_` branch is for saving Compose preview diff images.
But we have to remove the branches for repository size.
So I would like to delete the old branch. Say 2 weeks ago commit or older.
For DroidKaigi, it is not needed. But if we introduce this preview mechanism to the production application, this is needed.

**Reference images and links**

[2022-09-21 14:02] HikaruSato commented on #643
@ry-itto
Sorry, I tried it but it seemed difficult.😭

The size of the logo image (sponsorLogo) returned from the sponsor api(https://ssot-api-staging.an.r.appspot.com/events/droidkaigi2022/sponsor) is 2572 × 1322 pixels, which I think is too large for thumbnail display.
So, if I make this image size smaller (ex. half 1286 x 661), I think it will improve more, but is that impossible?

[2022-09-21 14:04] HikaruSato commented on #643
For example this
https://droidkaigi.jp/2022/images/sponsors/google.png

[2022-09-21 14:09] takahirom commented on #485
@att55 This issue needs to be made by 9/23, can you take the time?

[2022-09-21 14:10] takahirom commented on #166
@l2hyunwoo  This issue needs to be made by 9/23, can you take the time?

[2022-09-21 15:23] HikaruSato commented on #649
I want to try. 🙋‍♂️

[2022-09-21 22:22] #344 closed

[2022-09-22 10:14] #112 closed

[2022-09-22 10:16] #179 closed

[2022-09-22 11:18] kubode commented on #177
You may ignore this.

After implementing the design, I thought a bit about this specification.

My opinion is that the pin icon is unnecessary if all we want to do is zoom in on an image.
This is because the feature to zoom in on an image is usually done by tapping on the image itself.
Also, this icon <img src="https://user-images.githubusercontent.com/5885032/190971645-5348ee4a-b97d-4993-af38-6ae

[2022-09-22 12:32] higekick commented on #650
Could you let me try this issue ? 🙋🏻‍♂️

[2022-09-22 12:45] takahirom commented on #650
Thanks! Assigned🙏

[2022-09-22 12:58] l2hyunwoo commented on #166
I'm sorry. I've tried many things to implement, but I don't think it'll be possible to implement it within a set period of time. I'd appreciate it if you could assign it to someone else.

[2022-09-22 13:07] takahirom commented on #166
@l2hyunwoo OK. Thanks.🙏

[2022-09-22 13:23] takahirom opened #670 "Disable opening the special session detail screen"
**Idea Description**

This is because it is not possible to provide meaningful information to the user, and therefore it is better not to open it.

<img width="259" alt="image" src="https://user-images.githubusercontent.com/1386930/191758634-c174c338-373a-4ffd-a29c-4d21ded11a58.png">

**Reference images and links**

[2022-09-22 13:24] takahirom commented on #670
Let me think a little

[2022-09-22 13:24] #670 closed

[2022-09-22 13:38] takahirom opened #671 "Search screen edge to edge"
**Idea Description**
I would like to apply window insets properly!

**Reference images and links**
App
<img width="279" alt="image" src="https://user-images.githubusercontent.com/1386930/191762021-0a4c3976-3777-4393-9007-750f6cb4107d.png">
Design
<img width="222" alt="image" src="https://user-images.githubusercontent.com/1386930/191762155-f86b3f6d-c5c0-4886-815e-4f9092aa6233.png">

[2022-09-22 13:51] takahirom opened #673 "Toggle search day and category when click around"
**Idea Description**
Please see the image

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/191764226-7bfa5eb2-fb7b-487f-8a46-ed1eb71b6704.png)

[2022-09-22 13:53] takahirom opened #674 "Make search filter scrollable when search filter is long"
**Idea Description**
The title says everything

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/191765491-dbef65f7-12d6-4616-9bc5-185e4c009d9f.png)

[2022-09-22 13:56] takahirom opened #675 "Please close bottom sheet when you click search text field"
**Idea Description**
Currently, we can see the keyboard with the bottom sheet⌨️

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/191766390-3c722fae-6e94-4b3c-8bb0-1d8f6d825860.png)

[2022-09-22 13:59] #674 closed

[2022-09-22 14:06] takahirom opened #676 "Ignore case for search"
**Idea Description**
If we want to search Compose. We can't search `compose`. We should search `compose`.
Can we make it ignore case?

**Reference images and links**
<img width="289" alt="image" src="https://user-images.githubusercontent.com/1386930/191768482-dbb9e90b-93f5-4dee-927b-57ea2750ab08.png">

[2022-09-22 14:08] takahirom opened #677 "Edge to edge for sponsors screen"
**Idea Description**

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/191769299-ae9b190f-e136-419d-a9f9-f500189bc195.png)

[2022-09-22 14:22] takahirom opened #678 "Delete composition locals like LocalShareManager and LocalCalendarRegistration and make it event."
**Idea Description**
This pattern makes it difficult to reuse the screen component. Because it rely implicitly on the Composition Locals.

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/blob/f4d329a3e67902d514db0fcdd6be13d83998ab5c/feature/sessions/src/main/java/io/github/droidkaigi/confsched2022/feature/sessions/SessionDetail.kt#L94

[2022-09-22 14:26] YagiRyu commented on #677
I'd like to try! 🙏

[2022-09-22 14:27] takahirom commented on #485
@att55 Since I can't seem to reach you, please let me remove your assignment once.

[2022-09-22 14:28] takahirom commented on #677
Thanks! Assigned 👍

[2022-09-22 14:29] nanaten commented on #675
✋

[2022-09-22 14:34] #557 closed

[2022-09-22 14:34] takahirom commented on #675
Thanks! Assigned 👍

[2022-09-22 14:38] takahirom commented on #177
@kubode It makes sense, I'll talk with the designer about this. 🙏

[2022-09-22 14:41] takathemax commented on #485
I'd like to try this issue if you don't mind.

[2022-09-22 14:42] takahirom commented on #485
@takathemax Thanks a lot! We need this feature 🙏

[2022-09-22 14:48] #177 closed

[2022-09-22 14:51] takahirom commented on #625
@yuuhanasaki39 Do you think you will have time tomorrow? If not please let us know 🙏

[2022-09-22 14:58] yuuhanasaki39 commented on #625
@takahirom Hello! In conclusion, I don't know how long it will take.
There is a problem that has been bothering me. I will share it now.

[2022-09-22 15:01] takahirom commented on #625
@yuuhanasaki39 Thank you for sharing me!

[2022-09-22 15:06] takahirom commented on #625
You can use Japanese if you want 👍

[2022-09-22 15:06] CookieySun commented on #676
I would like to try.

[2022-09-22 15:16] takahirom commented on #676
Thanks! Assigned🙏

[2022-09-22 15:52] ry-itto opened #679 "[iOS] Xcode Preview crashes when preview target uses `moko-resources` Strings"
**Describe the bug**
Xcode Preview crashes when preview target uses `moko-resources` Strings.

<details>
<summary>Crash Log</summary>

[code]

</details>

**To Reproduce**

1. Go AboutView or some view depends on `moko-resources` Strings.
2. Preview with Xcode Preview.
3. Preview has crashed.

**Expected behavior**
Xcode Preview will not be crashed.

[2022-09-22 16:54] yuuhanasaki39 commented on #625
@takahirom
では日本語で失礼します。

現在、動画のようにLicenseボタン押下時にクラッシュする状態です。
https://user-images.githubusercontent.com/111329363/191793036-e725e542-378a-48e1-9b5b-b6d612fd259e.mov

行った実装について、
各gradleのファイルにライブラリを追加してビルドを通した後、
`feature/about/~/About.kt`内のLicenseボタン押下時のイベントで
`onClick = { context.startActivity(Intent(context, OssLicensesMenuActivity::class.java)) }`
と追加しました。

クラッシュログは以下のとおりです。
[code]

`You need to us

[2022-09-23 01:23] NUmeroAndDev commented on #625
@yuuhanasaki39
AndroidManifest で application に対して指定している
`android:theme="@style/Theme.DroidKaigi.SplashTheme"` がライセンスの Activity に対しても適用されていて、その `SplashTheme` が AppCompat の Theme でないから落ちるようになっていますね 👀

回避手段は下の 2 パターンありそうなので、試してもらっていい感じになりそうなものでお願いしてもいいでしょうか 🙏

- AndroidManifest で `Theme.DroidKaigi` をライセンスの Activity に指定する
  - もしかしたらこちらは色がデフォルトの紫が出てくるかもしれないので、 `Theme.DroidKaigi` の色も変更する必要がありそうです…
- And

[2022-09-23 01:29] takahirom commented on #625
For your reference
https://developers.google.com/android/guides/opensource#apply-theme-to-activity

[code]

[2022-09-23 02:12] yuuhanasaki39 commented on #625
ありがとうございます！やってみます！

[2022-09-23 03:28] takahirom opened #688 "[Needed by today 9/23] Apply floor map image"
**Idea Description**
If you can't do it, our staff will do this tomorrow.

**Reference images and links**
<img width="385" alt="image" src="https://user-images.githubusercontent.com/1386930/191886936-197f0e22-d12f-433e-ac46-2dffafd4eaea.png">
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-23 03:37] takahirom commented on #679
@kittinunf Do you have any idea?

[2022-09-23 04:41] #520 closed

[2022-09-23 05:22] ry-itto opened #690 "[iOS] [Needed by today 9/23] Apply floor map image"
**Idea Description**

- iOS version for #688

**Reference images and links**

[2022-09-23 05:25] ry-itto opened #691 "[iOS] Add animation for toggle TimetableSheet and TimetableList"
**Idea Description**

- Currently, no animation for that action.
- Please add animation for that 🙏🏼
  - I think fade animation may be useful

**Reference images and links**

[2022-09-23 06:37] betat commented on #690
🙋

[2022-09-23 06:37] ry-itto commented on #690
@betat
Thanks! Assigned 👍🏼

[2022-09-23 07:03] kubode commented on #688
Can I take this? ✋

[2022-09-23 07:22] Corvus400 commented on #673
I would like to do this task.

[2022-09-23 07:25] RyuNen344 commented on #688
Thanks!!! assinged!!!!

[2022-09-23 07:27] #690 closed

[2022-09-23 09:12] sohichiro commented on #691
🙋

[2022-09-23 09:22] #385 closed

[2022-09-23 09:28] kittinunf commented on #679
I can take a look but it looks like the preview is running on the different folder structure

[2022-09-23 09:42] takahirom commented on #691
Thanks! Assigned 👍

[2022-09-23 09:42] takahirom commented on #673
Thanks! Assigned 👍

[2022-09-23 09:51] #560 closed

[2022-09-23 11:45] yuuhanasaki39 commented on #625
It worked. Thank you! 👍

[2022-09-23 12:01] takathemax commented on #671
I'd like to try this issue. 🙋🏼

[2022-09-23 12:21] takahirom commented on #671
Thanks!

[2022-09-23 13:47] #691 closed

[2022-09-23 14:23] att55 commented on #485
@takahirom I'm really sorry for my late reply. 🙇🏼 🙇🏼
And thank you for your reassigning. 🙇🏼

[2022-09-23 14:59] #556 closed

[2022-09-23 14:59] higekick commented on #678
I would like to try!✋

[2022-09-23 15:14] #675 closed

[2022-09-23 15:20] #650 closed

[2022-09-23 15:22] #485 closed

[2022-09-23 15:26] #677 closed

[2022-09-23 15:27] #688 closed

[2022-09-23 15:55] woxtu commented on #643
👀

[2022-09-23 16:05] #673 closed

[2022-09-23 16:08] takahirom opened #706 "Pinch and zoom for floor map"
**Idea Description**
The title says everything

**Reference images and links**
<img width="194" alt="image" src="https://user-images.githubusercontent.com/1386930/192004853-3cac830d-33bf-41a6-9357-7fa1d42a0f13.png">

[2022-09-23 16:11] takahirom opened #707 "Change day filter from radio button to checkbox"
**Idea Description**
We can't uncheck filter so we would like to make it checkboxes
![image](https://user-images.githubusercontent.com/1386930/192005077-872f861a-7af2-47e3-8c75-1f4548ca5ba7.png)

**Reference images and links**

[2022-09-23 16:14] takahirom opened #708 "Session detail screen's FloatingActionButton should not be floating"
**Idea Description**
Please use `FloatingActionButtonDefaults.bottomAppBarFabElevation()` to remove the elevation.

figma
<img width="263" alt="image" src="https://user-images.githubusercontent.com/1386930/192005851-3bd0af8b-8425-4cfd-9da0-c82d79ccf6a8.png">

**Reference images and links**
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-23 16:16] takahirom opened #709 "Apply fab icon size in session detail."
**Idea Description**
figma's icon looks bigger than the current app's icon.

**Reference images and links**
<img width="142" alt="image" src="https://user-images.githubusercontent.com/1386930/192006244-078bb88d-a33a-4686-a93f-4e2e4e1b0514.png">

https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-23 16:17] takahirom opened #710 "Use map icon instead of ▲ in session detail"
**Idea Description**
Title says everything

**Reference images and links**
<img width="277" alt="image" src="https://user-images.githubusercontent.com/1386930/192006313-8cea07b1-303d-44ac-97db-00edd0521c88.png">
https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1

[2022-09-23 16:20] takahirom opened #711 "Add current time line on Timetable"
**Idea Description**
It must be fun 👍

**Reference images and links**
<img width="583" alt="image" src="https://user-images.githubusercontent.com/1386930/192006973-428e40fe-3a88-4a73-8ef2-a4d8f47642d9.png">

[2022-09-23 16:23] sudachi808 commented on #643
I tried down sampling through Kingfisher's Downsampling​Image​Processor. But the app crashed....
(I might have to do the wrong use)

https://kingfisher.onevcat.com/downsamplingimageprocessor/

[2022-09-23 16:25] Corvus400 commented on #707
I would like to start on this issue.

[2022-09-23 16:28] takahirom commented on #707
Thanks!

[2022-09-23 16:50] woxtu commented on #643
Hmm...

[2022-09-23 18:16] #604 closed

[2022-09-23 20:42] hiwa0 commented on #710
I'd like to try this issue.

[2022-09-23 22:55] takahirom commented on #710
Thanks! Assigned.

[2022-09-23 22:56] #625 closed

[2022-09-24 00:52] #710 closed

[2022-09-24 00:52] #707 closed

[2022-09-24 00:56] takahirom commented on #678
Thanks!

[2022-09-24 00:56] #135 closed

[2022-09-24 01:05] hiwa0 commented on #709
I'd like to try this issue.

[2022-09-24 01:15] takahirom commented on #709
Thanks! Assigned

[2022-09-24 02:14] att55 commented on #706
@takahirom Many apologies for last issue. 🙇🏼
Could I try this issue?
If you'd like, I will get right on it.

[2022-09-24 02:23] takahirom commented on #706
I know not everyone always sees GitHub. It's OK. But if you can respond, please respond. 🙏   Thanks, Assigned 👍

[2022-09-24 02:27] att55 commented on #706
I will check Github from now on. 🙇🏼
Thanks for assigning!

[2022-09-24 02:28] takahirom commented on #251
@l2hyunwoo May I ask if you are working on this? I'm really looking forward to seeing the test 👍

[2022-09-24 02:39] takahirom commented on #406
@mona-apk
Thanks for working on this issue. This is an issue to be done by next Friday. Can I ask if you think you will have time to develop it?

[2022-09-24 02:44] ry-itto commented on #605
@Tomoya113
Thanks for working on this issue. This is an issue to be done by next Friday. Can I ask if you think you will have time to develop it?

[2022-09-24 02:48] #709 closed

[2022-09-24 03:41] mona-apk commented on #406
Thanks for the reminder...!
I will make a pull request by Tuesday.

[2022-09-24 06:02] takahirom opened #720 "Allow multiple dates to be selected in search filter"
**Idea Description**
If you have selected Day1 and you select Day2, the filter will be Day2.
I would like to select Day1 or Day2.

**Reference images and links**
<img width="440" alt="image" src="https://user-images.githubusercontent.com/1386930/192082641-76d8741e-e8ab-4498-81ab-99fc409486e9.png">

[2022-09-24 06:14] iiinaiii commented on #711
I would like to try this issue 🙋

[2022-09-24 06:18] takahirom commented on #711
Thanks! Assigned 👍

[2022-09-24 06:32] takahirom opened #721 "Handle multiple URL in announcement"
**Idea Description**
Current implementation always uses the first URL in announcement. So If we have multiple URLs in the announcement, it does not work.
https://github.com/DroidKaigi/conference-app-2022/pull/719

**Reference images and links**
https://twitter.com/Fumiya_Kume/status/1573523409707085824

[2022-09-24 07:04] Corvus400 commented on #721
I will do it myself, as this is where I originally implemented it.

[2022-09-24 07:13] takahirom commented on #721
I think we should use buildAnnotatedString{} and iterate the link inside.
Something like this..

[code]

https://stackoverflow.com/a/65656351/4339442

[2022-09-24 07:16] Corvus400 commented on #721
Thank you!
I was trying to implement this in the morning with the help of the information ( https://stackoverflow.com/a/69549929 ) around here, but it didn't work and I gave up.
I will try again, including your advice.

[2022-09-24 07:43] #497 closed

[2022-09-24 07:44] ked4ma commented on #708
i'll do ✋

[2022-09-24 07:44] takahirom commented on #708
Thanks! Assigned 👍

[2022-09-24 07:52] Corvus400 commented on #721
@takahirom
I have a question. 🙋‍♂️
Is the following pattern the only text string in the body of the notice delivered from the server side?

"Click here for more information" (non-URL string)
"https://droidkaigi.jp/2022"(URL string)

Are the following patterns also available?

"https://droidkaigi.jp/2022"(URL string)
"some text" (non-URL string)

[2022-09-24 08:00] takahirom commented on #721
I think there can be both of patterns.

The xxx event is here. Please register
https://xxx

If you interested...
https://yyy

[2022-09-24 09:25] ked4ma commented on #720
I wanna try this ✋

[2022-09-24 09:27] fumiya-kume commented on #721
From @Corvus400 's [tweet](https://twitter.com/Todayama_R/status/1573582762589581312?s=20&t=K_y-S0mSB2HT668wptwV1Q).
Basically I agree with @takahirom 's [comment](https://github.com/DroidKaigi/conference-app-2022/issues/721#issuecomment-1256890457)

I'd recommend to consider a11y perspective improvements as well.

From feature requirements perspective, current implementation with `AnnotatedString

[2022-09-24 09:53] fumiya-kume opened #727 "[Sponsors] Show Loading indicator during fetching sponsors logo"
**Idea Description**

## Current situation

Just showing the logo, nothing showing until fetching image

## Ideal situation

Showing the loading indicator until fetching image

# Discussion points

- Implement the loading indicator logic is simple, but we can consider to commonize to the app.

**Reference images and links**

- [source](https://github.com/DroidKaigi/conference-app-2022/blob/main/fe

[2022-09-24 10:06] fumiya-kume opened #728 "Crash contributors screen when error happens"
**Describe the bug**

We didn't handle the error on Contributors screen also nothing ticket to implement it.

**To Reproduce**

Steps to reproduce the behavior:
1. Turn on the AirPlace mode
2. Go to contributors screen
3. App crash

**Expected behavior**

Showing the toast or something instead of app will crash at [here](https://github.com/DroidKaigi/conference-app-2022/blob/main/feature/contribut

[2022-09-24 10:07] #708 closed

[2022-09-24 10:10] fumiya-kume opened #729 "Improve Schedule list screen for same schedule"
**Idea Description**

## Current situation

Currently the schedule list screen showing same schedule multiple time.

Welcome talk | Lunch
:--: | :--:
<img src="https://user-images.githubusercontent.com/16269075/192092365-9c323417-349c-42e9-931d-503ec8d965cb.png" width="300" /> | <img src="https://user-images.githubusercontent.com/16269075/192092364-94baf4cb-8d76-42fd-8854-afee205c80b7.png" width="

[2022-09-24 10:14] takahirom commented on #728
This is exactly what I am working on these days.
If you interested in this issue, please take a look at these pull requests
https://github.com/DroidKaigi/conference-app-2022/pull/718

[2022-09-24 10:18] takahirom commented on #728
I think this will happen in staff screen as well. I will create the issue.

[2022-09-24 10:19] fumiya-kume commented on #728
Up to someone who interest to implement it!

[2022-09-24 10:23] takahirom commented on #729
That definitely make sense. But they can be different a little. For example, there is no translation for online welcome talk. I think it is difficult to handle the difference. Let me know if there is any way to handle well.

[2022-09-24 10:30] fumiya-kume commented on #729
Got it, that's should separated for avoid confusion!

BTW, how about the lunch schedules? looks same for each item?(difference are only room, right?

[2022-09-24 10:35] takahirom commented on #729
For now, yes. And probably you are right. But it is difficult to imagine the changes.😅

[2022-09-24 10:35] surajsau commented on #595
Closing this issue since the task has been merged.

[2022-09-24 12:15] takahirom opened #734 "Fix deleting screenshot GitHub Action job"
**Idea Description**

https://github.com/DroidKaigi/conference-app-2022/blob/main/.github/workflows/CommentPR.yml#L106

[code]

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/actions/runs/3117853645/jobs/5056772576

[2022-09-24 12:36] takahirom commented on #729
Let me close this issue until the better way is found.

[2022-09-24 12:36] #729 closed

[2022-09-24 12:46] takahirom opened #736 "Create or update screenshot comment"
**Idea Description**

Currently our screenshot test will post multiple times. But the screenshot comment will be long. So we would like to make it shot.
This can be the blocker of introducing production apps.

https://github.com/DroidKaigi/conference-app-2022/blob/main/.github/workflows/CommentPR.yml#L83

I think we can use this.

https://github.com/actions/github-script/blob/main/.github/workflow

[2022-09-24 12:48] #559 closed

[2022-09-24 12:51] #671 closed

[2022-09-24 12:52] #720 closed

[2022-09-24 12:55] takahirom opened #737 "The announcement screen shows empty message when loading"
**Idea Description**
I'd like to show progress instead of empty message.

**Reference images and links**

[2022-09-24 12:55] nashcft commented on #734
🙋

[2022-09-24 13:08] takahirom commented on #734
Thanks! Assigned 👍 You can check it by creating test pr.

[2022-09-24 13:15] eneim commented on #526
@Corvus400 @takahirom Not a big progress, but some investigation result:

- With the current implementation (DrawerSheetContent.onClickDrawerItem is a lambda):
  - All items on the Drawer are re-composed every session-open-close (see video). I think the reason is that the viewModel is not a `Stable` object and then the lambda is not memorized correctly, causing it to be re-composed everytime the `

[2022-09-24 13:28] takahirom commented on #406
Thanks!

[2022-09-24 13:29] sohichiro commented on #643
I think my suggestion is not best way, but I could resolve this situation.
I inserted ImagePrefetcher on refresh action Reducer like that, and this situation was disappeared.

[code]

[2022-09-24 13:30] takahirom commented on #737
Sorry, let me handle this

[2022-09-25 00:05] HiroyukiTamura commented on #727
🙋 let me try this issue
I'll implement it with [Accompanist placholder](https://google.github.io/accompanist/placeholder/)

[2022-09-25 05:14] #737 closed

[2022-09-25 05:25] takahirom commented on #727
@HiroyukiTamura Great. Assigned 👍

[2022-09-25 05:30] #706 closed

[2022-09-25 07:03] Tomoya113 commented on #605
@ry-itto
Thank you for the notification.
I am currently working on this issue and have enough time to implement this feature.
If I unable to handle this issue by some reason, I will let you know.

[2022-09-25 08:27] HikaruSato commented on #643
@sohichiro thank you for your  suggestion 🙏
I'll try.

[2022-09-25 10:00] att55 commented on #348
@takahirom Is the priority of this issue high? If high, can I take care of this issue?

[2022-09-25 12:16] #643 closed

[2022-09-25 13:36] takahirom commented on #348
I think It's not very high.

[2022-09-25 13:38] nyafunta9858 commented on #597
Please help me 🙏
I have already implemented almost this issue, but I would like to need advice on adjusting the vertical position.

The reference image specifies the vertical center of the device screen.
I want to place the empty screen to the content of `Scaffold,` but if I put it to the content of `Scaffold,` I can't place the vertical center of the device screen even if I specify `Alignment.Cen

[2022-09-25 13:44] att55 commented on #348
OK 🙆🏼‍♂️
Thanks for your reply.

[2022-09-25 14:11] nashcft commented on #734
I think #754 resolved this issue:

https://github.com/DroidKaigi/conference-app-2022/actions/runs/3122425253/jobs/5064355002

[2022-09-25 15:25] torikatsupg commented on #166
🙋‍♂️

[2022-09-26 01:01] takahirom commented on #166
@torikatsupg Thanks! Assigned 👍

[2022-09-26 01:19] takahirom opened #761 "Improve Timetable performance by making it stable."
**Idea Description**

I think we can use PersistentList. for timetableListStates and days

[code]

**Reference images and links**

[2022-09-26 01:36] #678 closed

[2022-09-26 03:05] touyou opened #763 "[iOS] Replace LicenseList plugin with official one"
**Idea Description**

I implemented LicenseList plugin in #479 , and offered support SPM in https://github.com/cybozu/LicenseList/issues/4 .
And now, LicenseList officially supported BuildToolPlugin. So we should replace it.

**Reference images and links**

- [LicenseListPlugin](https://github.com/cybozu/LicenseListPlugin)

[2022-09-26 06:35] touyou commented on #763
After created this issue, I notice this [info](https://github.com/DroidKaigi/conference-app-2022/tree/main/app-ios#development-tools).

If LicenseListPlugin could have same problem, we can use only [official release bundle](https://github.com/cybozu/LicenseList/releases/tag/0.1.6).

[2022-09-26 10:30] takahirom commented on #734
Looks great! Thanks!

[2022-09-26 10:30] #734 closed

[2022-09-26 16:04] #648 closed

[2022-09-27 00:24] eneim commented on #761
Question: how did you get this output

[code]

Is that your decomposer plugin or something else? It is so useful to see what is stable and what is not.

[2022-09-27 00:31] takahirom commented on #761
Sorry, I enabled it in gradle.properties.
https://github.com/DroidKaigi/conference-app-2022/blob/main/gradle.properties#L44-L45

The option is used here
https://github.com/DroidKaigi/conference-app-2022/blob/main/gradle/plugins/src/main/kotlin/io/github/droidkaigi/confsched2022/primitive/AndroidComposePlugin.kt#L42-L64

So you can see the results build/compose-metrics and build/compose-reports eac

[2022-09-27 00:32] takahirom commented on #761
The output is here.
feature/sessions/build/compose-reports/sessions_debug-classes.txt

[2022-09-27 02:22] eneim commented on #761
Thanks. Learn new thing today ❤️ .

[2022-09-27 12:06] takahirom commented on #728
This is handled in https://github.com/DroidKaigi/conference-app-2022/pull/767

[2022-09-27 12:49] #728 closed

[2022-09-27 13:09] #721 closed

[2022-09-27 13:09] #676 closed

[2022-09-27 13:33] #711 closed

[2022-09-27 13:37] #597 closed

[2022-09-27 13:38] #727 closed

[2022-09-28 00:01] fumiyasac opened #785 "[iOS] error build: Command PhaseScriptExecution failed with a nonzero exit code"
**Describe the bug**

When I took in latest diffs in my repository, Xcode project was not able to build.

Error message is below:
`error build: Command PhaseScriptExecution failed with a nonzero exit code`

**To Reproduce**
Steps to reproduce the behavior:
1. Clone `main` branch or merge `upstream/main` (following your local)
2. Execute scripts `./scripts/build_kmm_framework.sh Debug`
3. Open Xcod

[2022-09-28 02:13] ry-itto commented on #785
@fumiyasac
Can you share your log about this? 🙏🏼
Maybe this step https://github.com/DroidKaigi/conference-app-2022/tree/main/app-ios#building-prerequisite is missing in your setup 👀

[2022-09-28 03:47] fumiyasac commented on #785
@ry-itto
Thanks. building-prerequisite step seems to miss.
（Unfortunately,`echo $JAVA_HOME` result is blank in my Mac...）

My log is below:
[code]

[Build DroidKaigi2022 (iOS)_2022-09-28T11-15-38.txt](https://github.com/DroidKaigi/conference-app-2022/files/9661283/Build.DroidKaigi2022.iOS._2022-09-28T11-15-38.txt)

[2022-09-28 04:21] fumiyasac commented on #785
### FYI

Here is the command I tried.

[code]

[2022-09-28 05:00] ry-itto commented on #785
Okey!
It's good!

I'll close this issue 👍🏼

[2022-09-28 05:00] #785 closed

[2022-09-28 10:01] ry-itto opened #789 "[iOS] [iOS16] Use NavigationStack instead of navigationViewStyle(.stack)"
**Idea Description**

- From iOS16, `navigationViewStyle(.stack)` is deprecated, please replace those with `NavigationStack` implementation

**Reference images and links**
- https://developer.apple.com/documentation/swiftui/view/navigationviewstyle(_:)
- https://developer.apple.com/documentation/swiftui/navigationstack

[2022-09-28 10:03] ry-itto opened #790 "[iOS] Remove MapView's bottom toolbar"
**Idea Description**

- Title says all. MapView's bottom toolbar isn't needed. So please remove that.

**Reference images and links**
![スクリーンショット 2022-09-28 19 03 32](https://user-images.githubusercontent.com/30540303/192751480-ae585c83-d99a-433c-8ec4-8cd193de3972.png)

[2022-09-28 10:26] coffmark commented on #789
🙋‍♂️

[2022-09-28 10:26] ry-itto commented on #789
@coffmark
Thanks! Assigned 👍🏼

[2022-09-28 16:33] nyafunta9858 opened #793 "Close the drawer when detected for pressing the back key (or back gesture) during the drawer opening."
**Idea Description**
- Currently, pop back the screen if detected for the back key press, and the drawer keeps opening.
- I think it's not good UX to transition to the other screen while opening the drawer.
- So I suggest closing the drawer when detected for pressing the back key if that opens.

**Reference images and links**
![record-220929013045](https://user-images.githubusercontent.com/5121183

[2022-09-29 00:40] nyafunta9858 commented on #793
🙋‍♂️

[2022-09-29 01:17] takahirom commented on #793
Thanks! Assigned 👍

[2022-09-29 01:18] takahirom commented on #166
@torikatsupg Can you have time to develop this? 👀

[2022-09-29 01:19] takahirom commented on #155
@Pon57 Can you have time to develop this? 👀

[2022-09-29 01:33] coffmark commented on #790
🙋‍♂️

[2022-09-29 01:34] takahirom opened #795 "Fix crash when calculating scroll"
**Idea Description**

[code]

<img width="867" alt="image" src="https://user-images.githubusercontent.com/1386930/192918412-07c267ab-fc41-4d7d-b83a-4b5314cd5d67.png">

[code]

[code]

**Reference images and links**

[2022-09-29 01:44] ry-itto commented on #790
@coffmark
Thanks! Assigned 👍🏼

[2022-09-29 02:55] #793 closed

[2022-09-29 03:24] ry-itto opened #797 "[iOS] Introduce crashlytics"
**Idea Description**

**Reference images and links**

[2022-09-29 05:47] ry-itto opened #798 "[iOS] [iOS16] Use official `ShareLink` view instead of `ShareTextView`"
**Idea Description**

- From iOS16, SwiftUI supports `ShareLink`. Please use it instead of `ShareTextView`
- `.sheet(isPresented:)` isn't needed if `ShareLink` is supported.

**Reference images and links**

- https://developer.apple.com/documentation/SwiftUI/ShareLink

[2022-09-29 08:31] Pon57 commented on #155
@takahirom
Sorry for the late response on this issue.

I am working on it a little bit, but I am not able to spend as much time on it as I would like.
I have been able to understand the source code, figure out how it works, and come up with a few ideas based on that. However, I am still trying to implement it and see if it works as intended or if it is even possible to implement it in the first pl

[2022-09-29 11:46] torikatsupg commented on #166
@takahirom
Sorry, I'm new to implementing notifications and it's taking a while.
Could you please give us a little more time?
I will try to push once today.

[2022-09-29 13:00] ohzono opened #802 "Unnecessary ellipsis appear on the time-line title"
**Describe the bug**
Time-line title ellipsis is displayed on first line, but it seems to be better to be displayed at maximum line only.

**To Reproduce**
Steps to reproduce the behavior:
1. Install from Play Store.  I haven't confirmed yet in development environment.
2. For example, set in Japanese from drawer menu `Setting`.
3. Go to Day 2 time line.
4. See `App bars`'s column at 12:00. There i

[2022-09-29 13:31] ohzono opened #803 "Difference of words Annoucement on drawer and the screen's title, it is News"
**Describe the bug**
In English setting, there is a difference of item name Annoucement on drawer and the screen's title, News.

**To Reproduce**
Steps to reproduce the behavior:
1. Set in English from drawer menu Setting.
2. Show drawer and see the item `Announcement`.
3. Tap the `Announcement`, and see the showed screen's title.

**Expected behavior**
Decide which is a better word, and set it.

[2022-09-29 13:41] ohzono opened #805 "Japanese date format of the day part is ambiguous at Announce screen"
**Describe the bug**
The title of  announce screen's item, like `2022/09/7` is no zero padding at day part.

**To Reproduce**
Steps to reproduce the behavior:
1. Set in Japanese from drawer menu Setting.
2. Show drawer.
3. Tap `Announcement`.
4. If there are anoucements, you can see the date text.

**Expected behavior**
It might be better add zero padding at the day part or no zero padding at all.

[2022-09-29 13:44] takahirom commented on #805
Thanks!

[2022-09-29 14:30] Corvus400 commented on #805
The URL is not a link either, so it is most likely an older version of the app.

[2022-09-29 14:40] Corvus400 commented on #803
This is not a bug but a design specification.
[The wording was changed during implementation to match the design specification.
](https://github.com/DroidKaigi/conference-app-2022/pull/639#pullrequestreview-1114727696)See [Design](https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=0%3A1) for details.

[2022-09-29 14:54] takahirom commented on #805
Thanks! I thought it was different screen🙏

[2022-09-29 14:56] #805 closed

[2022-09-29 15:27] takahirom opened #810 "Open session detail from notification"
**Idea Description**
Now, we didn't use the sessionId. So we can use it and show the session detail
https://github.com/DroidKaigi/conference-app-2022/pull/809/files#diff-5b7fca09b5bafac0dcfaaf00a8e909b454554179ee44f2afab730c424b988e3eR16

Please send pull request to `feature-notification` branch

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/pull/809

[2022-09-29 21:20] ohzono commented on #805
I'm sorry and thank @Corvus400 san to fix it, and @takahirom san for response 🙏

[2022-09-29 21:50] ohzono commented on #803
@Corvus400
Thank you for your response! I understood it and saw the design at the news (or announcement) screen.
I thought the design doc seems not to be described about the drawer's translation.
I don't found the words difference specification is true, but News screen title is true at this time 😄 .

@takahirom
In this case, I would be better to repost this in feature request format?
I am fine wit

[2022-09-30 00:51] takahirom commented on #155
@Pon57 You can open PR with the work in progress.
You don't have to do all the things.
https://github.com/DroidKaigi/conference-app-2022/pull/807

[2022-09-30 01:03] takahirom commented on #803
I'll talk with the designer.
I'll let you know as soon as I get more information 🙏

[2022-09-30 01:04] takahirom opened #813 "Delete material in session detail when the material is not exists"
**Idea Description**
The title says everything

**Reference images and links**
<img width="249" alt="image" src="https://user-images.githubusercontent.com/1386930/193168079-a1039780-fbd2-40e7-b44c-e5ca33dfda37.png">

[2022-09-30 01:05] takahirom commented on #803
The designer tell me it is ok to use `Announcement` 🙏
Can we use it?

[2022-09-30 01:14] takahirom opened #814 "Delete target audience in session detail if the target audience is `TBW`"
**Idea Description**
The title says everything

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/193168992-abf2ee93-691a-4cdf-9b79-dc312c95ca0c.png)

[2022-09-30 01:19] #813 closed

[2022-09-30 01:25] #166 closed

[2022-09-30 02:26] igafox commented on #814
I would like to try!🙋‍♂️

[2022-09-30 02:34] takahirom commented on #814
Thanks! Assigned 🙏

[2022-09-30 03:20] Pon57 commented on #155
@takahirom
I understand. 🙏
Since I have not been able to do most of the commits yet (not even a test implementation), I will work on it this Saturday and Sunday to create a PR. Can you wait until then?
I will also let you know if that work proves to be impossible with my ideas.

[2022-09-30 04:40] Corvus400 commented on #810
I would like to work on this task.

[2022-09-30 04:58] takahirom commented on #810
Thanks as always!

[2022-09-30 05:03] Tomoya113 commented on #605
@ry-itto
Sorry for the late.
I just opened PR.
https://github.com/DroidKaigi/conference-app-2022/pull/815

[2022-09-30 08:11] Tomoyuki-TAKEZAKI commented on #795
I'd like to work on this issue 🙋🏻

[2022-09-30 08:30] mhidaka commented on #798
@NakaokaRei Thank you! we assigined you 👍

[2022-09-30 08:45] takahirom commented on #795
@Tomoyuki-TAKEZAKI I'm looking forward to seeing your PR! Assigned 👍

[2022-09-30 10:06] #798 closed

[2022-09-30 10:11] kmachida12345 commented on #761
Is anyone working on this issue? 👀
Could I give it a try?  🙋‍♂️

[2022-09-30 10:30] #814 closed

[2022-09-30 10:46] takahirom commented on #761
@kmachida12345 Thanks! Assigned 👍

[2022-09-30 11:20] ohzono commented on #803
Thank you for your arrangement!
It is good.
I would try to replace `News` into `Announcement` at the title. 🙋🏻

[2022-09-30 11:54] takahirom commented on #803
Thanks!

[2022-09-30 12:01] tatsuyafujisaki commented on #802
It looks like an expected behavior because there is no room for the second line in a 25-minute session. The first line is the last line. Only a 30-minute session or longer has room for the second line.

[2022-09-30 13:13] ohzono commented on #802
Thank you for your comment!

I may understand it but I'm not sure.
Please confirm following once🙏

What I want to say is it would be better to show full text if there is a **blank line space** to show all sentence edge-to-edge in this `通知チャンネルに対応する` case.

For example, the neighbor time-table `実例から学ぶJetpack Composeのパフォーマンス改善` was shown in 2nd line.
So 25-min session may have space to show 2nd line

[2022-09-30 14:34] #803 closed

[2022-09-30 14:38] tatsuyafujisaki commented on #802
Thanks for the explanation:pray: I got it. Somehow, `"通知チャンネルに対応する"` does not show the second line while `"通知チャンネルに対応するJetpack Compose"` (no meaning) does. I cannot come up with a good solution…

"通知チャンネルに対応する"|"通知チャンネルに対応するJetpack Compose"
--|--
<img src="https://user-images.githubusercontent.com/1838962/193291758-2aa7ac4d-3039-429b-9552-3346c6be5556.png" width="480" />|<img src="https://user-ima

[2022-10-01 05:54] Luecy1 commented on #802
The cause seems to be the font.
https://github.com/Luecy1/conference-app-2022/commit/befb0cd71d325011a9d4eaa4ed08774925b7b11c
When I revert the font as above, it was displayed in two lines

<img width="293" alt="スクリーンショット 2022-10-01 14 50 42" src="https://user-images.githubusercontent.com/4579774/193394779-d787d5eb-6ee2-4140-b920-8b33e401044f.png">

But,I not have solution idea.

[2022-10-01 06:53] #789 closed

[2022-10-01 06:54] #797 closed

[2022-10-01 07:13] gen0083 opened #824 "If session start time or end time is longer than screen size session not shown"
**Describe the bug**
If session start time or end time is longer than screen size session not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to session page on day3
2. Scroll down to 14:00
3. Scheduled session is not shown

**Expected behavior**
It it better to show that there is a session.

**Screenshots**
![device-2022-10-01-160123 2022-10-01 16_09_05](https://user-images.github

[2022-10-01 08:14] yaoandy107 commented on #327
@takahirom Sorry for the lateness. I worked on this some days ago, and it worked fine at the time. But yesterday, when I pulled changes from the main branch. I found out that there's an issue with the new implementation of the `SearchTextField` in the espresso test. Whenever I type anything on the `SearchTextField` and all the espresso commands after it will throw an exception
[code]
I have taken

[2022-10-01 08:17] takahirom commented on #327
@yaoandy107 You don't have to fix it by yourself. Could you create a pull request with current status?

[2022-10-01 08:19] takahirom commented on #824
Thanks

[2022-10-01 08:21] takahirom commented on #155
@Pon57 It's ok. All we can do is to do the best what we can do.

[2022-10-01 08:48] yaoandy107 commented on #327
@takahirom I have created a PR for my current status~

[2022-10-01 08:48] gen0083 commented on #824
I'll take it.

[2022-10-01 08:50] takahirom commented on #824
Thanks! Assigned 👍

[2022-10-01 10:45] #824 closed

[2022-10-01 20:01] ohzono commented on #802
I'm not familier with Compose view, and I may have no time to fix them by DroidKaigi held 😰

You may have already tried it, there were some solution in TextView of XML layout.
https://stackoverflow.com/questions/2160619/android-ellipsize-multiline-textview

Have you confirmed the idea yet?

If you have done already, it might be good to call for help 🙌

[2022-10-02 04:24] NUmeroAndDev opened #828 "Change navigation icon in session detail screen"
**Idea Description**
- I want to change close icon to arrow icon in session detail screen.

**Reference images and links**

- https://www.figma.com/file/NcSMs6dMsD88d4wOY0g3rK/DroidKaigi-2022-Conference-App?node-id=21%3A583

<img width="317" alt="スクリーンショット 2022-10-02 13 20 44" src="https://user-images.githubusercontent.com/13705006/193437724-66d492ae-8840-40ec-a882-75622fd7ed10.png">

[2022-10-02 04:49] rnk0085 commented on #828
🙋

[2022-10-02 04:54] NUmeroAndDev commented on #828
@rnk0085
Thanks! Assigned 👍

[2022-10-02 05:53] #790 closed

[2022-10-02 06:26] fummicc1 commented on #763
Let me try this issue👀
I think this issue is not urgent, so I believe that I take enough time including my investigation into SwiftPM Plugin since Xcode14.😄

[2022-10-02 09:24] #828 closed

[2022-10-02 10:06] #600 closed

[2022-10-02 10:08] takahirom opened #832 "Fix TimeLane preview"
**Idea Description**
It seems that we can't see the preview
https://github.com/DroidKaigi/conference-app-2022/pull/666#issuecomment-1264588628

**Reference images and links**
<img width="705" alt="image" src="https://user-images.githubusercontent.com/1386930/193448843-08b879b9-6486-484c-9008-6ec4598d92fd.png">

[2022-10-02 10:09] #493 closed

[2022-10-02 15:44] ry-itto commented on #763
Sorry for late response 🙏🏼

@fummicc1
Thanks! Assigned 👍🏼

[2022-10-02 22:43] ohzono commented on #802
What!? @Luecy1 might have already done?

This issue solved with your idea by tring on my local.
Could you make PR?

I don't confirm the background of the font decision.
If it caused by downloadable font, it is a way to open another issue.

Limited my small point of view about this repo, I think it is higher priority than adopt downloadable fonts.
Because it is visible for public users.

Here is th

[2022-10-03 15:09] Luecy1 commented on #802
I didn't create a PR because the app design will change.
I will create PR, not use downloadable font.

[2022-10-03 23:06] ohzono commented on #802
Thanks!

[2022-10-04 00:05] takahirom commented on #348
@omooooori This is not for English users. For example, When Korean users that are not familiar with Japanese open the app, they will see a Japanese screen. But Japan is not as famous language as English. So I would like to make English default language. What do you think?

[2022-10-04 12:02] omooooori commented on #348
@takahirom I see. I understand. I will consider the solution of this task.
Currently, there is MR package in core>model>src>commonMain>resources.
So I think we can't fulfill the requirement using the solution written in initial description, is this right ?

I mean initial description is below.

[2022-10-04 13:28] #802 closed

[2022-10-04 13:29] #761 closed

[2022-10-05 12:34] momomomo111 opened #849 "Category check mark not checked during session search"
**Describe the bug**
Tapping the name of a category during a session search turns on the checkbox, but tapping the checkbox itself does not turn on the checkbox.

**To Reproduce**
1. Go to 'Search'
2. Click on 'Category'
3. Tap the checkbox
4. The checkbox is not checked.

**Expected behavior**
Tap the checkbox itself to check the box.

**Screenshots**

https://user-images.githubusercontent.com/51

[2022-10-05 16:02] takahirom commented on #849
Good catch!

[2022-10-05 16:19] minibugdev opened #852 "Nothing happens when you tap on the session materials"
**Describe the bug**
Tap on session materials, there is a ripple but nothing happen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Session detail'
2. Scroll down to 'Material'
3. Click on 'Movie' / 'Slide'
4. Nothing happen

**Expected behavior**
Show the session materials only when they are available

**Screenshots**

https://user-images.githubusercontent.com/13198470/194111205-d657

[2022-10-06 09:03] ked4ma commented on #849
i'll do this ✋

[2022-10-06 09:05] takahirom commented on #849
Thanks! Assigned👍

[2022-10-06 10:49] takahirom opened #860 "Adapt material3 to v1.0.0-rc01"
**Idea Description**

There is a pull request that is updated by a bot. But there is a preview difference.
So I would like to adjust the design and update!

<img width="685" alt="image" src="https://user-images.githubusercontent.com/1386930/194260305-4bae27a3-1544-48cf-996d-b65d46463070.png">

**Reference images and links**
https://github.com/DroidKaigi/conference-app-2022/pull/856

[2022-10-06 11:59] #849 closed

[2022-10-07 01:23] ry-itto opened #865 "[iOS] Add fade animation when change `TimetableView`"
**Idea Description**

**Reference images and links**

[2022-10-07 01:30] ry-itto opened #866 "[iOS] Use split style navigation view instead of TabView for iPad"
**Idea Description**
- Split style navigation is better than TabView in iPad. So please implement with that.

**Reference images and links**
- https://developer.apple.com/documentation/swiftui/navigationsplitview

[2022-10-07 01:30] takahirom opened #867 "Performance improvement for Tabletable TimeLine"
**Idea Description**
Now, our Tabletable TimeLine is recomposed by every scroll.
So we can probably use `drawBehind{}`?

**Reference images and links**
![image](https://user-images.githubusercontent.com/1386930/194447240-e1e83bd9-9342-4654-a73e-3bde11e15445.png)

[2022-10-07 01:35] takahirom opened #868 "Expand tabs in response to scrolling"
**Idea Description**
Right now, the app decides whether to expand based on whether the scroll position is at the top or not, not based on scrolling, but I want to expand only when it scrolls to the top in response to scrolling.

**Reference images and links**
<img width="690" alt="image" src="https://user-images.githubusercontent.com/1386930/194447445-89fa9516-ac49-4d92-9f32-e90221768872.png">

[2022-10-07 01:35] ry-itto opened #869 "[iOS] Use `Grid` or `LazyHGrid` for `SessionView`'s chip ui"
**Idea Description**

- Currently, a custom view is used for representing that ui. Maybe `Grid` or `LazyHGrid` is better way for representing that.

**Reference images and links**
- https://developer.apple.com/documentation/swiftui/lazyhgrid
- https://developer.apple.com/documentation/swiftui/grid